/* stack homepage */

@media screen and (orientation: portrait) and (max-width: 480px) {
	article.text{
		.stickyBox{
			.vm{
				width:100%;
				padding-left:30px;
				padding-right:30px;
				min-height:0;
				h2{
					font-size:24px;
					margin-bottom:8px;
					&.zerobm{
						margin-bottom:0px;
					}
				}
				p{
					font-size:15px;
					line-height:1.1em;
					margin-bottomn:8px;
					br.deskbr{
						display:none;
					}
				}
			}
		}
		.control{
			display:none;
		}
	}
}
@media screen and (orientation: portrait) and (min-width:480px) and (max-width: 640px) {
	article.text{
		.stickyBox{
			.vm{
				width:100%;
				padding-left:30px;
				padding-right:30px;
				min-height:0;
				h2{
					font-size:32px;
					margin-bottom:20px;
					&.zerobm{
						margin-bottom:0px;
					}
				}
				p{

					br.deskbr{
						display:none;
					}
				}
			}
		}
	}
}
@media screen and (orientation: landscape) and (max-width: 768px) {
}
@media screen and (orientation: landscape) and (max-width: 680px) {
	.logoAnimation.go{
		display:none;
	}
}

@media screen and (orientation: portrait) and (max-width:480px) {
	.logoAnimation.go{
		display:none;
	}
	#text1{
		.stickyBox{
			.vm{
				h2{font-size:26px;}
				h3{font-size:14px;}
				p{font-size:14px;}
			}
		}
	}
}

@media screen and (orientation: landscape) and (max-height:480px) {
	#text1{
		.stickyBox{
			.vm{
				h2{font-size:26px;}
				h3{font-size:16px;}
				p{font-size:16px;}
			}
		}
	}
}
@media screen and (orientation: landscape) and (max-height: 700px) {
	article.text{
		.stickyBox{
			.vm{
				width:1000px;
				min-height:0px;
				padding-left:30px;
				padding-right:60px;
				h2{
					font-size:32px;
					margin-bottom:20px;
					&.zerobm{
						margin-bottom:0px;
					}
				}
				p{
					font-size:15px;
					line-height:1.1em;
					margin-bottomn:8px;
					br.deskbr{
						display:none;
					}
				}
			}
		}
	}
}
