$gridOpacity:0.90;
$fadeDuration:1.8s;

/*
@media screen and (min-width: 320px) {
}
@media screen and (min-width: 480px) {
}
@media screen and (min-width: 640px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 920px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1200px) {
}
*/

@mixin body-copy{
	font-weight:100;
	font-size:1.8rem;
	line-height:1.2em;
}

@mixin playfair{
	font-family: 'Playfair Display', serif;
}	
@mixin header-large-desktop{
	font-size:6.5rem;
	line-height:7rem;
	@include playfair;
}
@mixin header-large-medium{
	font-size:5rem;
	line-height:5rem;
	@include playfair;
}
@mixin header-large-mobile{
	font-size:4rem;
	line-height:4rem;
	@include playfair;
}

@mixin header-small-desktop{
	font-size:6.5rem;
	line-height:7rem;
	font-weight:700;
	@include playfair;
}

@mixin header-small-mobile{
	font-size:30px;
	line-height:3.4rem;
	font-weight:700;
	@include playfair;
}

@mixin moduleFade($duration){
	-webkit-transition: opacity $duration cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
	-moz-transition: opacity $duration cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
	-o-transition: opacity $duration cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
	transition: opacity $duration cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
	opacity:0;
}

/* home page module styles index.html */
body{
	position:relative;
}

.moduleCache{
    width:0px;
    height:0px;
    overflow:hidden;
    opacity:0;
    img{
        width:auto;
        height:auto;
    }
}

.module{
    width:100%;
    height:auto;
    overflow:inherit;
    color:#fff;
	box-sizing:border-box;
}

.stickyBox{
	/*
	width:100%;
	height:100vh;
	position: -webkit-sticky;
	position: sticky;
	top:0px;
	z-index:1;
	*/

	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:center;
    min-height:$moduleMinHeight;
    position:relative;
    padding:7rem 0;
}

ul.position{
	width:4px;
	padding:0;
    position:fixed;
    right:24px;
    top:50%;
    margin-top:-120px;
    z-index:50;
    @include transopacity();
    &.showp{opacity:1;}
    &.hidep{opacity:0.75;}
    li{
        background-color:#fff;
        display:block;
        width:4px;
        height:18px;
        text-indent:-9999em;
        overflow:hidden;
        margin:0 0 8px 0;
        @include trans();
        opacity:0.33;
        &.on{
	        opacity:0.95;
        }
    }
    @media screen and (max-width: 768px) {
        &{
            right:8px;
        }
    }
}

@media screen and (max-width: 768px) {
	br.deskbr{display:none;}
	br.mobbr{display:block;}
}

article.text{
	text-align:center;
	box-sizing:border-box;
	padding:3rem;

	-webkit-transition: opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
	-moz-transition: opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
	-o-transition: opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
	transition: opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
	opacity:0;

	&.fivesteps{
		min-height:auto;
		padding-top:1rem;
		padding-bottom:1rem;
		img{
			margin-bottom:2rem;
		}
		h2{
			margin-bottom:3rem;
			font-family: 'Playfair Display', serif;
		}
		h3{
			font-size:2.2rem;
			font-family: 'Playfair Display', serif;
			line-height:2.8rem;
		}
		p{
			max-width:670px;
			font-weight:100;
			@include body-copy;
		}
		padding-left:1rem;
		padding-right:1rem;
		@media screen and (min-width: 768px) {
			&{
				padding-left:3rem;
				padding-right:3rem;
			}
		}

	}

	&#fivesteps0{
		padding-top:3rem;
		padding-bottom:2rem;
		p{
			max-width:750px;
			font-weight:100;
		}
	}

	&.active{
		opacity:1;
	}	
	h2,h3{
		margin-top:0;
		font-weight:700;
	    /* font-family:'Montserrat', sans-serif; */
	}

	p{
		line-height:1.6em;
		margin-bottom:1rem;
		max-width:77rem;
		margin-left:auto;
		margin-right:auto;
		font-weight:100;
		font-size:1.8rem;

		@media screen and (min-width: 1200px) {
			&{
			}
		}
	}
}

#text2{
	h2{
		font-family: 'Playfair Display', serif;
	}
	.stickyBox{
		min-height:unset;
	}
}

.videogrid{
    color:#fff;
	width:100%;
	box-sizing:border-box;
	position:relative;
	z-index:1;
	overflow:hidden;

	.scrollDown{
		z-index:15;
	}

	.cflex{
		position:relative;
		left:0px;
		top:0px;
		z-index:10;
		width:100%;

		.b1,.b2{
			width:100%;
			padding:5rem 2.5rem;
			box-sizing:border-box;
			justify-content:center;

			div{
				overflow:hidden;
				box-sizing:border-box;
				padding:10%;
				-webkit-transition: opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
				-moz-transition: opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
				-o-transition: opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
				transition: opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
				opacity:0;
				width:100%;

				h3,p{
					text-align:center;
					color:#fff;
				}
				h3{
					@include header-small-mobile;
				}
				p{
					font-weight:100;
					font-size:1.8rem;
					line-height:1.2em;
					@include body-copy;
					max-width:400px;
					margin-left:auto;
					margin-right:auto;
				}

			}
		}

		.b1{
			div{
				background-color:rgba(97,182,205,$gridOpacity);
			}

		}
		.b2{
			div{
				background-color:rgba(247,124,113,$gridOpacity);
			}

		}

		@media screen and (min-width: 800px) {
			&{
				display:flex;
				.b1,.b2{
					justify-content:center;
					padding:5rem;
					div{
						overflow:hidden;
						box-sizing:border-box;
						padding:10%;
						margin-left:auto;
						margin-right:auto;
						width:33rem;
						h3,p{
							text-align:center;
							color:#fff;
						}
						h3{
							max-width:430px;
						}
						p{
							max-width:400px;
							margin-left:auto;
							margin-right:auto;
						}

					}
				}
				.b1{
					flex-basis:50%;
					box-sizing:border-box;
					padding-top:5rem;
					padding-bottom:25rem;
				}
				.b2{
					flex-basis:50%;
					box-sizing:border-box;
					position:relative;
					div{
						position:absolute;
						bottom:5%;
						left:50%;
						transform: translateX(-50%);
					}
				}
			}
		}
		@media screen and (min-width: 1024px) {
			&{
				.b1,.b2{
					div{
						width:35rem;
					}
				}
			}
		}

		@media screen and (min-width: 1280px) {
			&{
				.b1,.b2{
					div{
						width:55rem;
					}
				}
			}
		}
	}

	div.videobg{
		position:absolute;
		left:0;
		top:0;
		z-index:1;
		width:100%;
		height:100%;
		overflow:inherit;
		padding:0px;
		box-sizing:border-box;

		div.fillScreenBox{
			width:100%;
			height:100vh;
			min-height:100%;
			overflow:hidden;
			position:relative;
			&:after{
				content:' ';
				position:absolute;
				left:0%;
				top:0%;
				width:100%;
				height:100%;
				z-index:2;
				background-image:url('../img/halftone.png');
				background-repeat:repeat;
				opacity:0.5;
			}
			video{
				overflow:hidden;
				opacity:0.5;
				position:absolute;
				left:50%;
				top:50%;
				transform: translate(-50%,-50%);
				min-width: 100%;
	  			min-height: 102%;
	  			z-index:1;
	  		}
		}
	}
	&.active{
		.cflex{
			.b1,.b2{
				div{
					opacity:1;
				}
			}
		}
	}
}


.halftone{
	position:relative;
	padding-top:46.9%;

	&:after{
		content:' ';
		position:absolute;
		z-index:5;
		left:0px;
		top:0px;
		width:100%;
		height:100%;
		background-image:url('../img/halftone.png');
		background-repeat:repeat;
		opacity:0.5;
	}
	img{
		position:absolute;
		z-index:5;
		left:50%;
		top:50%;
		transform:translate(-50%,-50%);
		width:100%;
		height:auto;
		z-index:1;
	}
}

/*
#text1{
	.stickyBox{
		display:block;
		min-height:inherit;
		padding:0;
	}
}

.tailPic{
	margin:7rem 0;
}
*/

.everyones-a-switcher{
	display:block;
	width:100%;
	overflow:hidden;

	-webkit-transition: opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
	-moz-transition: opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
	-o-transition: opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
	transition: opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
	opacity:0;

	&.active{
		opacity:1;
		.leftSide{
		   	.videoPanel{
		   		img{
		   			transform: scale(1.0);
		   		}
		   	}
			h2{
				left:50%;
			}
		}
		@media screen and (min-width: 1024px) {
			&{
				.leftSide{
					h2{
						left:0px;
					}
				}
			}
		}		
	}
	.leftSide,.rightSide{
		display:block;
		width:100%;
	}
	.leftSide{
		z-index:1;
		position:relative;

	    .flat{
	    	position:absolute;
	    	left:0px;
	    	top:0px;
	    	z-index:2;
	    	background-color:#f77c71;
	    	width:100%;
	    	padding-top:55%;
	   	}

	   	a.videotrigger{
	   		display:none;
	   	}
	   	/*
	   	.videoPanel,
	   	a.videotrigger{
	   		width:90%;
	    	position:absolute;
	    	right:50%;
	    	top:10rem;
	    	transform: translateX(50%);
	    	img{
	    		width:100%;
	    		height:auto;
	    	}
	   	}
	   	a.videotrigger{
	   		display:block;
	   		z-index:4;
	    	background-image:url(../img/home/vp-play.png);
	    	background-repeat:no-repeat;
	    	background-position:50% 50%;
	    	background-size:auto auto;
	    	padding-top:62.5%;
	    	overflow:hidden;
	    	span{
	    		position:absolute;
	    		top:-100%;
	    	}
	   	}
		*/

	   	.videoPanel{
	   		position:relative;
	   		z-index:3;
	   		text-align:center;
	    	img{
	    		width:80%;
	    		margin:10rem auto 0 auto;
	    		height:auto;
				-webkit-transition: transform 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
				-moz-transition: transform 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
				-o-transition: transform 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
				transition: transform 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
		    	transform: scale(0.0);
	    	}
	   	}
	    h2{
	    	position:absolute;
	    	left:-50%;
	    	top:40px;
	    	z-index:3;
	    	transform: translateX(-50%);
	    	margin:0;
	    	color:#fff;
	    	@include header-large-mobile;
	    	width:auto;
	    	text-align:center;
			-webkit-transition: left 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
			-moz-transition: left 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
			-o-transition: left 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
			transition: left 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;

	    }
	}
	.rightSide{
		padding-bottom:5rem;
		h2{
			@include header-small-mobile;
			text-align:center;
		}
		p{
			margin-bottom:0;
			@include body-copy;
			text-align:center;
			padding:0 5rem;
			&:after{
				content:' ';
				display:block;
				width:30%;
				height:10px;
				background-color:#f77c71;
				position:relative;
				top:1.75rem;
				margin-left:auto;
				margin-right:auto;
			}
		}
	}

	@media screen and (min-width: 480px) {
		&{
		}
	}

	@media screen and (min-width: 600px) {
		&{
			.leftSide{
				h2{
			   	}
			}
		}
	}
	@media screen and (min-width: 768px) {
		&{
		}
	}

	@media screen and (min-width: 800px) {
		&{
			.leftSide{
				h2{
			    	top:0%;
			    	padding:0 0 0 40px;
			    	width:53rem;
					@include header-large-medium;
				}
			}
		}
	}

	@media screen and (min-width: 1024px) {
		&{
			display:flex;
			align-items:center;

			.leftSide{
				/* 838 / 1280 65.5% */
				padding-top:62.4%;
				padding-top:523px;
				flex-basis:65.5%;
			    .flat{
			    	width:88.5%;
			    	height:100%;
			    	padding-top:0%;
			    }
			    .videoPanel,a.videotrigger{
			    	position:absolute;
			    	right:0px;
			    	top:50%;
			    	width:70%;
			    	transform: translateY(-50%);
			    }
			    .videoPanel{
			    	z-index:3;
			    	img{
						margin-top:0;
			    		width:100%;
			    		display:block;
			    	}
			    }
			    h2{
			    	left:0px;
			    	left:-100%;
			    	top:3rem;
					@include header-large-desktop;			    	
			    	text-align:left;
			    	transform: translateX(0%);
			    	width:60rem;

			    }
			    a.videotrigger{
			    	z-index:3;
			    }
			}
			.rightSide{
				/* 442 / 1280 34.35% */
				flex-basis:34.35%;
				padding:4rem;
				box-sizing:border-box;
				h2{
					text-align:left;
				}
				p{
					padding:0;
					text-align:left;
					&:after{
						width:75%;
						margin-left:0;
						margin-right:auto;

					}
				}
			}
		}
	}

	@media screen and (min-width: 1280px) {
		&{
			display:flex;
			align-items:center;

			.leftSide{
			    .videoPanel,a.videotrigger{
			    	position:absolute;
			    	right:0px;
			    	top:50%;
			    	width:660px;
			    	height:458px;
			    	transform: translateY(-50%);
			    }
			    .videoPanel{
			    	z-index:3;
			    	img{
			    		width:100%;
			    		display:block;
			    	}
			    }
			    h2{
			    	left:0px;
			    	left:-100%;
			    	top:3rem;
			    	text-align:left;
			    }
			}
		}
	}
}

.journey{
	width:100%;
	overflow:hidden;
	position:relative;
	z-index:1;
	padding-top:0%;

	-webkit-transition: opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
	-moz-transition: opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
	-o-transition: opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
	transition: opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
	opacity:0;

	&.active{
		opacity:1;
		.pic{
			img{
		    	transform: scale(1.0);
			}
		}
		h2{
			transform: translateX(0%);
		}
	}

	.pic,.flat{
		position:absolute;
	}
	.flat{
		z-index:2;
		right:0;
		top:0;
		background-color:#f77c71;
		width:90%;
		height:100%;
		margin-left:auto;
		margin-right:0px;
		max-height:700px;
		min-height:400px;
	}
	.pic{
		z-index:3;
		top:0px;
		left:0px;
		width:100%;
		img{
			width:100%;
			height:auto;
			-webkit-transition: transform 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
			-moz-transition: transform 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
			-o-transition: transform 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
			transition: transform 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
	    	transform: scale(0.0);
		}		
	}
	h2{
		z-index:4;
		position:relative;
		width:100%;
		box-sizing:border-box;
		padding:50% 20% 10% 20%;
    	color:#fff;
    	text-align:center;
		-webkit-transition: transform 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
		-moz-transition: transform 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
		-o-transition: transform 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
		transition: transform 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
		transform: translateX(100%);
		@include header-large-mobile;
	}

	@media screen and (min-width: 800px) {
		&{
			width:100%;
			position:relative;
			z-index:1;
			padding-top:10%;
			.pic,h2{
				position:absolute;
			}
			.flat{
				position:relative;
				z-index:2;
				width:75%;
				padding-top:48%;
				margin-left:auto;
				margin-right:0px;
				max-height:700px;
				min-height:400px;
			}
			.pic{
				z-index:3;
				top:0px;
				left:0px;
				width:75%;
				img{
					width:100%;
				}		
			}
			h2{
				@include header-large-medium;
				z-index:4;
		    	bottom:0px;
		    	right:5%;
		    	width:35%;
		    	padding:0 0 5% 0;
		    	text-align:center;
			}
		}
	}

	@media screen and (min-width: 1024px) {
		&{
			h2{
				@include header-large-desktop;
			}
		}
	}	
}

.popup{
	position:fixed;
	left:50%;
	top:50%;
	z-index:2001;
	transform:translate(-50%,-50%);
	overflow:hidden;
	-webkit-transition: width 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, height 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
	-moz-transition: width 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, height 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
	-o-transition: width 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, height 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
	transition: width 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, height 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;

	width:0vw;
	height:0vh;
	opacity:0;
	.header{
		position:relative;
		h2{
			color:#fff;
			font-family: 'Playfair Display', serif;
		}
		a{
			position:absolute;
			right:0px;
			top:0px;
			color:#fff;
			overflow:hidden;
			display:block;
			width:36px;
			height:35px;
			background-image:url('../img/menu_close.png');
			background-repeat:no-repeat;
			background-position:left top;
			background-size:auto auto;
			span{
				position:absolute;
				left:-50px;
				top:-50px;
			}
		}
	}
	.content{
		width:100%;
		video{
			width:100%;
			height:auto;
		}
	}
}
.black{
	display:block;
	opacity:0.75;
	background-color:#000;
	position:fixed;
	left:50%;
	top:50%;
	width:0vw;
	height:0vh;
	z-index:2000;
	transform:translate(-50%,-50%);
	-webkit-transition: width 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, height 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
	-moz-transition: width 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, height 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
	-o-transition: width 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, height 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
	transition: width 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, height 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
}
.popup-open{
	/*
	overflow:hidden;
	width:100vw;
	height:100vh;
	*/
	.popup{
		width:90vw;
		height:90vh;
		opacity:1;
	}
	.black{
		width:100vw;
		height:100vh;
	}
}

.videogrid{
	.cflex{
		.b1,.b2{
			div{
				h3{
					@extend .Playfair-Display;
					font-weight:700;
				}
			}
		}
	}
}
.everyones-a-switcher{
	.leftSide{
		h2{
			@extend .Playfair-Display;
		}
	}
}
.journey{
	h2{
		@extend .Playfair-Display;
	}
}

br.mbr{
	display:block;
	@media screen and (min-width: 768px) {
		&{
			display:none;
		}
	}	

}

.mba-announce{
	padding:10rem 0;
	width:100%;

	.arrows{
		text-align:center;
		margin:0 auto;
	}
	h2{
        font-weight: 700;
	    font-family: "Playfair Display",serif;
	    font-size: 40px;
	    line-height: 3.4rem;
	    margin-bottom: 2.7rem;	}
	p{
		margin: 0 0 2.9rem 0;
		font-size: 2.1rem;
		line-height: 1.6em;
	    font-weight: 100;
	    position:relative;
		box-sizing:border-box;

		width:100%;
		padding:0 48px;
		&:before,&:after{
			content:" ";
			position:absolute;
			top:50%;
			display:inline-block;
			width:32px;
			height:32px;
			
			transform:translateY(-50%);
			background-repeat:no-repeat;
			background-size:256px 256px;
			background-position:50% 50%;
		}
		&:before{
			left:10px;
			background-image:url('../../svg/mba_left.svg');
			background-position:-128px 50%;
		}
		&:after{
			right:10px;
			background-image:url('../../svg/mba_right.svg');
			background-position:-80px 50%;
		}
	}
	a{
		display:inline-block;
		width:auto;
		padding:1rem;
		border:1px solid #fff;
		color:#fff;
		background-color:#100028;
		text-decoration:none;
		-webkit-transition: color ease 0.3s, background-color ease 0.3s;
		-moz-transition: color ease 0.3s, background-color ease 0.3s;
		-o-transition: color ease 0.3s, background-color ease 0.3s;
		transition: color ease 0.3s, background-color ease 0.3s;
		&:hover{
			color:#100028;
			background-color:#fff;
		}
	}
	@media screen and (min-width:768px){
		&{
			padding: 3rem 0 18rem 0rem;
			.arrows{
				width:90%;
				max-width:1050px;
				p{
					padding:0 128px;
					&:before,&:after{
						width:128px;
						height:128px;
						background-size:256px 256px;
						background-position:50% 50%;
						margin-left: -30px;
						margin-right: -40px;
					}
				}
			}
		}
	}
}