/* home page logo - scale/position/opacity flow from video plkaceholder to top left corner index.html */
.logoAnimation{
	opacity:1;
	position:fixed;
	left:30px;
	top:-30px;
	z-index:1200;
    width:133px;
    height:36px;
	opacity:0;

	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-o-transition: all 0.7s;
	transition: all 0.7s;

    &.go{
    	top:30px;
    	opacity:1;
    }
	.logo{
		svg,img{
	        width:100%;
	        margin:0;
		}
	}
}
