/* home page first panel video - SVG placeholder with colour change and opacity fade to reveal autoplay looped video index.html */
#module00{
	margin-top:10rem;
	@media screen and (min-width: 768px) {
		&{
			margin-top:0;
		}
	}

	div.posrel{
		position:relative;
		padding-top:30%;
		@media screen and (min-width: 480px) {
			padding-top:35%;
		}
		@media screen and (min-width: 768px) {
			padding-top:40%;
		}
		@media screen and (min-width: 1024px) {
			padding-top:30%;
		}
		@media screen and (orientation: landscape) and (max-width: 1200px) {
		}
	}
	.placeholder,.placeholder2,.vpos{
		position:absolute;
		left:0;
		top:30%;
		transform: translateY(-50%);
		text-align:center;
		width:100%;
		@media screen and (min-width: 768px) {
			top:50%;
		}
	}
	p{
		color:#fff;
		margin:0px;
		font-size:1.5em;
		font-weight:$fontBold;
		padding:0 0%;
		opacity:1;
		@include transopacity2(2s);
		text-align:center;
		margin:5rem 0;
		@media screen and (min-width: 768px) {
			&{
				font-size:3em;
				margin-left:3rem;
				margin-right:3rem;
			}
		}
	}

	.placeholder,.placeholder2{
		/* @include transopacity2(2s); */
		opacity:1;
		svg{
			width:75.5%;
			margin:1% auto 0% auto;
			path{
				fill:#fff;
			}
		}
		img{
			display:block;
			width:73%;
			margin:1.3% auto 0% auto;
		}
	}
	.placeholder{z-index:11;}
	.placeholder2{
		&.playing{
			opacity:0;
		}
		z-index:10;
		svg{
			path{
				fill:#2c9fcb;
			}
		}
	}

	.vpos{
		z-index:5;
		.vpos2{
			position:relative;
			padding:50px 0;
			#hv{
				/*
				padding:16.25% 0 0 0;
				width:75%;
				*/
				padding:16.3% 0 0 0;
				width:72.3%;
				margin:0 auto;
				position:relative;
				video{
					position:absolute;
					left:0px;
					top:0px;
					@include transopacity2(2s);
					opacity:0;
					display:block;
					width:100%;
					/* width:100%; min-height:100%; object-fit:contain; */
				}
				img.hpimg{
					position:absolute;
					left:0px;
					top:0px;
					width:100%;
				}
				img.msq{
					position:absolute;
					right:0px;
					top:112%;
					width:92px;

					@media screen and (min-width: 768px) {
						&{
							width:185px;
						}
					}
				}
				p{
					opacity:1;
					position:absolute;
					left:0;
					width:100%;
					top:123%;
					z-index:1;
					font-size:34px;
					font-weight:700;
					padding:0 10%;
				}
			}
		}
	}
	&.ready{
		.placeholder{
			/* opacity:0; */
			/**/
			animation-delay:2s;
		    animation-name: fadeout;
		    animation-duration:1s;
		    animation-fill-mode: forwards;
		    /**/
			svg{
				path{
				    animation-name: whitetoblue;
				    animation-duration: 2s;
				    animation-fill-mode: forwards;
				}
			}
		}
		.vpos{
			.vpos2{
				/*
				p{
				    animation-name: example;
				    animation-duration: 2s;
				    animation-delay:1s;
				    animation-fill-mode: forwards;
				}
				*/
				#hv{
					video{
						opacity:1;
					}
				}
			}
		}
	}
}

.control{
    position:absolute;
    z-index:5;
    &.scrollDown{
        left:50%;
        bottom:0px;
        margin-left:-100px;
        width:200px;
        height:7rem;
        text-indent:999em;
        overflow:hidden;
        background-repeat:no-repeat;
        background-position:center 20px;
        /*
	    -webkit-animation:bounce 1s linear infinite;
	    -moz-animation:bounce 1s linear infinite;
	    -ms-animation:bounce 1s linear infinite;
	    animation:bounce 1s linear infinite;
	    */
    }
}

/* placeholder keyframe animation */
@keyframes whitetoblue {
  from {
  	fill:#fff;
  }

  to {
  	fill:#2c9fcb;
  }
}

@keyframes fadeout {
  from {
  	opacity:1;
  }

  to {
  	opacity:0;
  }
}

@keyframes example {
    0%   {opacity:0;}
    100% {opacity:1;}
}

#module00,#text1{
	.control{
	    &.scrollDown{
		    position:static;
		    left:0;
		    top:0;
		    display:block;
		    margin:0 auto;
	    }
	}
}