$blogBreakPoint: 1024px;

.blogpost{
	background-color:#fff;
	color:#000;

	article.stackBlogPost{
		width:100%;
		display:inline-block;

		header{
			width:100%;
			box-sizing:border-box;
			padding:1em 1em 1em 1em;

			@media screen and (min-width:$blogBreakPoint) {
				&{
					padding-right:350px;
					&.noAside{
						padding-right:1em;
					}
				}
			}

			h1{
				font-size:40px;
				color:#000;
				font-weight:$fontBlack;
				margin:0 0 0.25em 0;
				text-align:center;
				font-family: 'Playfair Display', serif;
				@media screen and (min-width: 768px) {
					&{
				        font-size:60px;
					}
				}
			}
		}

		.container{
			width:100%;
			padding:0 8px 0 8px;

			@media screen and (min-width:$blogBreakPoint) {
				&{
					display:flex;
					padding:0 22px 0 30px;
				}
			}


			div.inline{
				padding-bottom:1em;
				img{

				}
			}	

			.main{
				flex:1;
				.tx{
					padding:1em 0em 0em 0em;
					margin-bottom:2em;
				    h1{
				        font-weight:$fontBlack;
				        font-size:2.4em;
				        margin:0 0 30px 0;
				        color:#000;
				        /*
						@media screen and (min-width: 768px) {
							&{
						        font-size:2.2em;
							}
						}
						*/
				    }
				    h2{
				    	text-align:center;
				        font-size:1.8em;
				        padding:0 0px;
				        margin:0px 0 1em 0;
				        letter-spacing: 1px;
				        font-weight:$fontBlack;
				        color:#000;
				        font-size:1.8em;

				    }
				    h3{
				        font-weight:$fontBold;
				        font-size:1.6em;
				        margin:0 0 1em 0;
				        color:#000;
				    }
				    p{
				    	padding:0 0px;
				    	font-size:1.5em;
				    	color:#000;
				    	margin-bottom:1em;
				    	font-family: 'Lora', serif;
				    	strong{
				    		font-family:'Montserrat', sans-serif;
				    		fomnt-weight:800;
				    	}
				    	a{
				    		color:#000 !important;
				    		text-decoration:underline !important;
				    		font-weight:bold;
				    	}
						img{
							display:block;
							width:90%;
							height:auto;
							margin:0 auto 1em auto;
							&.natural{
								max-width:100%;
								width:auto;
							}
							&.centre{
								margin-left:auto;
								margin-right:auto;
							}
						}
				    }
				    ul{
				    	font-size:1.5em;
				    	color:#000;
				    	font-family: 'Lora', serif;
				    	padding:0 30px;
				    	li{
				    		margin-bottom:1em;
				    	}
				    }
				    div{
				    	width:100%;
						img{
							display:block;
							width:90%;
							height:auto;
							margin:0 auto 1em auto;
						}
				    }
					div.video{
						width:90%;
						margin:0 auto 1em auto;
						img{
							width:100%;
						}
					}
					blockquote{
				    	font-size:2em;
				    	color:#000;
				    	font-family: 'Lora', serif;
						width:calc(100% - 60px);
						margin:0 auto 2em auto;
						padding:35px;
						border:7px solid #000;
						position:relative;
						box-sizing:border-box;
						z-index:1;
						&:after{
							content:' ';
							display:block;
							position:absolute;
							right:10px;
							bottom:-32px;
							z-index:5;
							width:49px;
							height:32px;
							background-image:url('/img/blockquote.png');
							background-repeat:no-repeat;
						}
						@media screen and (min-width: 768px) {
							&{
						        width:550px;
							}
						}

					}
					@media screen and (min-width: 768px) {
						&{
						    h2{
						        font-size:1.8em;
						        padding:0 30px;
						    }
						    p{
						    	padding:0 30px;
							}					        
						}
					}

				}
			}

		}
	}
	aside{
		width:100%;
		display:inline-block;
		box-sizing:border-box;

		@media screen and (min-width:$blogBreakPoint) {
			&{
				width:350px;
				padding:0px 0px 0 30px;
			}
		}
		h2{
			font-size:1.8em;
			padding:0;
			margin:0 0 0.2em 0;
			font-weight:700;
			text-align:center
		}
		ul{
			width:100%;
			display:block;
			list-style-type:none;
			padding:20px 0;
			border-width:8px 0;
			border-style:solid;
			border-color:#000;
			li:last-child{
				margin-bottom:0;
			}
			li{
				margin:0 0 40px 0;
				display:flex;
				a{
			    	font-size:1.3em;
			    	font-family: 'Lora', serif;
					color:#000;
					text-decoration:none;
					&.thumb{
						width:75px;
						margin-right:12px;
						img{
							width:75px;
						}
					}
				}
			}
		}
	}

	header.page{
		padding:30px;
		width:100%;
		height:90px;
		min-height:auto;
		z-index:110;
		background-color:rgba(0,0,0,0.8);
		.logo{
			float:left;
			position:relative;
			left:0px;
			top:0px;
			z-index:200;
			img,svg{
			}
		}
		.trigger{
			padding:27px 30px 0 0px;
		}
	}

	footer{
		background-color:#000;
	}

	hr{
		display:none;
		border-style:none;
		width:116px;
		margin:0px auto;
		height:10px;
	}

	header.work{
		width:100%;
		box-sizing:border-box;
		padding:142px 0 23px 0;
		overflow:hidden;
	}

	.authors{
		width:100%;
		padding:0 8px;
		box-sizing:border-box;
		@media screen and (min-width: 768px) {
			&{
				padding:0 50px;
			}
		}
		h2{
			width:100%;
			text-align:left;
			font-size:1.2em;
		}
		& > ul{
			list-style-type:none;
			padding:0;
			width:100%;
			li{
				width:100%;
				box-sizing:border-box;
				padding:5px 10px;
				display:flex;
				margin-bottom:1em;
				.frame{
					padding-right:1em;
					img{
						width:100%;
						min-width:60px;
						max-width:120px;
						height:auto;
						border-radius:50%;
						margin-right:1em;
					}
				}
				.info{
					padding-top:4%;
					@media screen and (min-width: 768px) {
						&{
							padding-top:4%;
						}
					}
					@media screen and (min-width: 1024px) {
						&{
							padding-top:3.2%;
						}
					}
					@media screen and (min-width: 1200px) {
						&{
							padding-top:2%;
						}
					}
					h3{
						flex:1;
						text-align:left;
						font-size:1.5em;
						margin:0;
					}
					ul.socialLinks{
						list-style-type:none;
						padding:0;
						li{
							margin-bottom:0;
							padding:0;
						}
					}
				}
			}
		}
	}

	.paging{
		width:98%;
		padding:1em 0;
		margin:0 auto;
		div{
			text-align:left;
			width:100%;
			a{
				box-sizing:border-box;
				padding:0.5em;
				color:#000;
				font-size:1.2em;
			}
		}

		@media screen and (min-width:$blogBreakPoint) {
			&{
				display:flex;
				justify-content:space-between;
				div{
					width:33.3%;
					&.p{text-align:left;}
					&.b{text-align:center;}
					&.n{text-align:right;}
				}
			}
		}

	}
}

.blogpost{
	&.news{
		aside{
			ul{
				border-color:#e19cdf;
			}
		}
	}
	&.launch{
		aside{
			ul{
				border-color:#81b0e5;
			}
		}
	}
	&.stack-thinking{
		aside{
			ul{
				border-color:#f7c401;
			}
		}
	}
}