.blogindex{
	background-color:#fff;
	color:#000;

	header.page{
		padding:30px;
		width:100%;
		height:90px;
		min-height:auto;
		z-index:110;
		background-color:rgba(0,0,0,0.8);
		.logo{
			float:left;
			position:relative;
			left:0px;
			top:0px;
			z-index:200;
			img,svg{
			}
		}
		.trigger{
			padding:27px 30px 0 0px;
		}
	}

	header.lead{
		text-align:center;
		width:100%;
		box-sizing:border-box;
		padding:142px 0 23px 0;
		overflow:hidden;
		h1{
			font-size:60px;
			color:#000;
			font-weight:$fontBlack;
			margin:0 0 0.25em 0;
			text-align:center;
			font-family: 'Playfair Display', serif;

		}
	}

	footer{
		background-color:#000;
	}

	hr{
		display:none;
		border-style:none;
		width:116px;
		margin:0px auto;
		height:10px;
	}

	.categoryFilter{
		width:100%;
		max-width:1200px;
		margin:0 auto 1em auto;

		ul{
			width:98%;
			margin:0 auto;
			display:flex;
			flex-wrap:wrap;
			justify-content: space-between;
			list-style-type:none;
			padding-left:0;
			li{
				width:22%;

				a{	
					font-size:1.2em;
					font-weight:700;
					color:#d0d0d0;
					text-decoration:none;
					display:block;
					width:100%;
					text-align:center;
				}
				&.selected{
					&{
						a{
							color:#000;
						}
					}
				}
			}
			@media screen and (min-width: 768px) {
				&{
					width:75%;
				}
			}

		}
	}

	section.blogPosts{
		width:100%;
		max-width:1200px;
		margin:0 auto;
		text-align:center;

		box-sizing:border-box;
		padding:0 2% 20px 2%;
		article{
			width:100%;
			margin-bottom:1.5em;
			box-sizing:borer-box;
			transform:scale(1.0);
			@include trans2(0.3s);
			&.loading{
				transform:scale(0.0);
			}
			&.featured{
				width:100%;
				.frame{
					img{
						&.full{
							display:block;
						}
						&.thumb{
							display:none;
						}
					}
				}
			}
			.frame{
				img{
					width:100%;
					&.full{
						display:block;
					}
					&.thumb{
						display:none;
					}
				}
			}
			h1,h2,p{
				padding:0 10px;
			}
			h1{
				font-size:30px;
				font-weight:700;
			}
			h2{
				font-size:16px;
				font-weight:700;
			}
			p{
		    	font-size:1.2em;
		    	color:#000;
		    	margin-bottom:1em;
		    	font-family: 'Lora', serif;
		    }
			a.readmore{
				color:#000;
				font-weight:bold;
				text-decoration:none;

				margin:0 auto;
				width:auto;
				outline:none;

				position:relative;

				&:after{
					content:" ";
					position:absolute;
					left:0;
					bottom:-8px;
					height:6px;
					width:100%;
					background-color:#000;
					display:block;
				}
				&:hover{
					&:after{
					}
				}
			}
			&.news{
				a.readmore{
					&:after{
						background-color:#e19cdf;
					}
				}
			}
			&.launch{
				a.readmore{
					&:after{
						background-color:#81b0e5;
					}
				}
			}
			&.stack-thinking{
				a.readmore{
					&:after{
						background-color:#f7c401;
					}
				}
			}
		}

		@media screen and (min-width: 768px) {
			&{
				display:flex;
				flex-wrap:wrap;
				
				/* justify-content: space-between; */
				justify-content: flex-start;

				article{
					width:33.3%;
					padding:0 20px;
					&.featured{
						width:66.6%;
					}
					.frame{
						/*
						width:100%;
						padding-top:80%;
						position:relative;
						overflow:hidden;
						*/
						img{
							/*
							position:absolute;
							left:50%;
							top:50%;
							transform: translate(-50%,-50%);
							*/
							&.full{
								display:none;
							}
							&.thumb{
								display:block;
							}
						}
					}
					&.featured{
						.frame{
							img{
								&.full{
									display:block;
								}
								&.thumb{
									display:none;
								}
							}
						}
					}
				}
			}
		}
	}

}
