/*
$screen-xs:                  480px !default;
$screen-sm:                  768px !default;
$screen-md:                  992px !default;
$screen-lg:                  1200px !default;
*/

.branch{
	&.businessBranch{
		header.generic{
			h1{
				font-size:4em;
				@media screen and (min-width: 640px) {
					&{
						font-size:6.8em;
					}
				}
			}
		}
	}
	&.consumerBranch{
		header.generic{
			h1{
				
			}
		}
	}

	&.whatwedo{
		header.generic{
			@media screen and (min-width: 1170px) {
				&{
					width:55%;
					margin:0 auto;
				}
			}
			h1{
				
			}
		}
		.textBlock{
			padding-top:0px;
			&.intro {
				padding-top:30px;
			}
			h3{
				text-transform:uppercase;
			}
		}
	}

	.textBlock{
		padding:30px 0;

		&.fourColumns{
			width:100%;
			.column{
				.content{
					padding:0 10%;
					width:100%;
					&.brandEffect{
						h2{
							color:#d19ec8;
							&:after{
								background-color:#d19ec8;
							}
						}
					}
					&.creativeCore{
						h2{
							color:#6bb1e2;
							&:after{
								background-color:#6bb1e2;
							}
						}
					}
					&.ideaApplication{
						h2{
							color:#fab42a;
							&:after{
								background-color:#fab42a;
							}
						}
					}
					&.commercialValidation{
						h2{
							color:#7674b5;
							&:after{
								background-color:#7674b5;
							}
						}
					}
					h2{
						text-align:left;
						margin:0;
						&:after{
							content: ' ';
							display:block;
							width:40px;
							height:6px;
							margin:0.5em auto 0.5em 0;
						}
					}
					p{
						width:100%;
						text-align:left;
						padding:0;
					}
				}
			}
			@media screen and (min-width: 1024px) {
				&{
					&:after{
						clear:both;
						float:none;
						display:block;
						content:' ';
					}
					.column{
						.content{
							padding:0 15%;
						}
						display:inline-block;
						float:left;
						width:25%;
						padding:0;
					}
				}
			}
		}

	}
}


/* what we do capabilities block CSS in _home.scss
.capabilities{}
*/
