.capabilities{
	width:450px;
	margin:0 auto;

	@media screen and (max-width:480px) {
		&{
			width:calc(100% - 32px);
		}
	}

	.textBlock{
		h2{
			font-size:53px;
			font-weight:700;
			margin:0;
		}
		p{
			font-size:18px;
			margin:0;
			width:100%;
			bd.d{
				display:none;
			}
			@media (min-width:768px) {
				&{
					bd.d{
						display:block;
					}
				}
			}
		}
	}
	.accordions{
		/*
		width:75%;
		max-width:768px;
		*/
		width:450px;
		margin:0 auto;
		@media screen and (max-width:480px) {
			&{
				width:100%;
			}
		}
		.accordion{
			position:relative;
			h3{
				width:calc(100% - 32px);
				text-indent:-9999em;
				overflow:hidden;
				background-repeat:no-repeat;
				background-position:50% 50%;
				cursor:pointer;
				margin:0 auto 0.5em auto;
				padding:0;
				box-sizing:border-box;

				@media screen and (max-width:480px) {
					&{
						height:32px;
						background-size:auto 60px;
					}
				}
				@media screen and (min-width:480px) {
					&{
						height:50px;
						background-size:auto 80px;
					}
				}
				@media screen and (min-width:768px){
					&{
						height:70px;
						background-size:auto 120px;
						margin-bottom:0;
					}
				}
			}
			.control{
				position:absolute;
				z-index:10;
				right:0px;
				top:13px;
				width:32px;
				height:19px;
				background-image:url('/img/scrolldown.png');
				background-repeat:no-repeat;
				background-size:contain;
				cursor:pointer;
				-webkit-transition: all 0.7s;
				-moz-transition: all 0.7s;
				-o-transition: all 0.7s;
				transition: all 0.7s;

				@media screen and (max-width:480px) {
					&{
						top:6px;
					}
				}
				@media (min-width:768px) {
					&{
						top:25px;
					}
				}
				&:hover{
					@include transformRotate(180deg);
				}
			}
			ul{
				width:100%;
				overflow:hidden;
				max-height:0;
				font-size:18px;
				padding:0;
				list-style-type: none;
				box-sizing:border-box;
				-webkit-transition: all 0.7s;
				-moz-transition: all 0.7s;
				-o-transition: all 0.7s;
				transition: all 0.7s;

				li{
					position:relative;
					width:100%;
					color:#fff;
					margin:0 0 0.5em 0;
					padding:0 0 0 1em;
					box-sizing:border-box;
					&:before{
						content:'-';
						position:absolute;
						top:0px;
						left:0px;
						display:block;
						float:left;
					}
				}
			}
			&.open{
				.control{
					@include transformRotate(180deg);
					&:hover{
						@include transformRotate(0deg);
					}
				}
				ul{
					max-height:20em;
				}
			}	
			&#data_science{
				h3{
					background-image:url('/svg/data-science.svg');
				}
			}
			&#strategy{
				h3{
					background-image:url('/svg/strategy.svg');
				}
			}
			&#technology{
				h3{
					background-image:url('/svg/technology.svg');
				}
			}
			&#creativity{
				h3{
					background-image:url('/svg/creativity.svg');
				}
			}
			&#media{
				h3{
					background-image:url('/svg/media.svg');
				}
			}
		}
	}
}