$whiteoak-grid-breakpoint: 480px;

.casestudy{
	hr{
		display:none;
		border-style:none;
		width:116px;
		margin:0px auto;
		height:10px;
	}

	.buttonBox{
		padding:16px 0;
		width:100%;
		text-align:center;
		a{
			color:#fff;
			position:relative;
			font-size:1.5em;
			font-weight:$fontExtraBold;
			text-decoration:none;
			margin:0 auto;
			width:auto;
			outline:none;
			&:after{
				content:" ";
				position:absolute;
				left:0;
				bottom:-4px;
				height:6px;
				width:100%;
				display:block;
				opacity:0;
				@include trans2(0.3s);
			}
			&:hover{
				&:after{
					opacity:1;
				}
			}
		}
	}

	header.work{
		text-align:center;
		width:100%;
		box-sizing:border-box;
		padding:142px 0 23px 0;
		overflow:hidden;
		h2{
			position:relative;
			font-size:4em;
			color:#fff;
			font-weight:$fontBlack;
			font-family: 'Playfair Display', serif;
			margin:0;

			-webkit-transition: -webkit-transform 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
			-moz-transition: -moz-transform 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
			-o-transition: -o-transform 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
			transition: transform 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
		    -webkit-transform: translateY(50px) scale(1);
		    -moz-transform:  translateY(50px) scale(1);
		    -ms-transform:  translateY(50px) scale(1);
		    transform:  translateY(50px) scale(1);
			opacity: 0;
			@media screen and (min-width: 640px) {
				&{
					font-size:6.8em;
				}
			}
		}
		&.go{
			h2{
			    -webkit-transform: translateY(0px) scale(1);
			    -moz-transform:  translateY(0px) scale(1);
			    -ms-transform:  translateY(0px) scale(1);
			    transform:  translateY(0px) scale(1);
				opacity:1;
			}
		}
	}

	.multiImage{
		width:100%;
		&:after{
			content:" ";
			clear:both;
			float:none;
			display:block;
		}

		.inline{
			width:100%;
			display:block;
			img{
				width:100%;
				display:block;
			}
		}

		&.grid4x1, &.grid2x2{
			.inline{
				display:block;
				float:none;
				width:100%;
				img{
					width:100%;
					height:auto;
				}
			}
			@media screen and (min-width: $whiteoak-grid-breakpoint) {
				&{
					.inline{
						display:inline-block;
						float:left;
						position:relative;
						img{
							position:absolute;
							right:50%;
							top:0%;
							height:100%;
						    -webkit-transform: translate(50%,0%);
						    -moz-transform: translate(50%,0%);
						    -ms-transform: translate(50%,0%);
						    -o-transform: translate(50%,0%);
						    transform: translate(50%,0%);    
						}
					}
				}
			}			
		}

		&.grid2x2{
			@media screen and (min-width: $whiteoak-grid-breakpoint) {
				&{
					.inline{
						width:50%;
						padding-top:27.3%;		
					}
				}
			}
		}

		&.grid4x1{
			.inline{
				width:50%;
				padding-top:27.3%;				
			}
			@media screen and (min-width: $whiteoak-grid-breakpoint) {
				&{
					.inline{
						width:25%;
						padding-top:13.672%;				
					}
				}
			}
		}

		&.carousel{
			position:relative;
			overflow:hidden;
			padding-top:54.7%;
			.inline{
				position:absolute;
				top:0;
				transform: translateX(-100%);
				-webkit-transition: transform 0.5s;
				-moz-transition: transform 0.5s;
				-o-transition: transform 0.5s;
				transition: transform 0.5s;
				/*
				left:100%;
				-webkit-transition: left 0.5s;
				-moz-transition: left 0.5s;
				-o-transition: left 0.5s;
				transition: left 0.5s;
				*/
				z-index:1;

				img{
					width:100%;
				}

				&.out{
					transform: translateX(100%);
					z-index:1;
				}

				&.on{
					/*
					left:0%;
					*/
					transform: translateX(0%);
					z-index:10;
				}
			}
		}
	}

	.textBlock{
		div.spacer{
			margin-top:1.8em;
			margin-bottom:1.8em;
		}
		&.titleBlock{
		    h1{
		        font-weight:$fontBlack;
		        font-size:1.8em;
		        letter-spacing: 1px;
		        margin:30px 0 0 0;
				@media screen and (min-width: 768px) {
					&{
				        font-size:2.2em;
					}
				}
		    }
		    h2{
		    	font-family: 'Playfair Display', serif;
		        font-weight:$fontBlack;
		        font-size:2.4em;
		        margin:0 0 30px 0;
				@media screen and (min-width: 768px) {
					&{
				        font-size:3.7em;
					}
				}
		    }
		    h3{
		        font-weight:$fontBold;
		        font-size:1.6em;
		        margin:0 0 1em 0;
		    }
		}
	    p{
	    	margin-bottom:1.8em;
	    	&.balancedTopMargin{
	    		margin-top:1.8em;
	    	}
	    	&.zeroBottomMargin{
				margin-bottom:0;	    	
	    	}
	    }
		.points{
			width:100%;
			.point{
				overflow:hidden;
				display:block;
				width:100;
				p{
					font-size:1em;
					width:auto;
					margin:0 0 20px 0;
					padding:0 5%;
					-webkit-transition: -webkit-transform 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
					-moz-transition: -moz-transform 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
					-o-transition: -o-transform 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
					transition: transform 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
				    -webkit-transform: translateY(50px) scale(1);
				    -moz-transform:  translateY(50px) scale(1);
				    -ms-transform:  translateY(50px) scale(1);
				    transform:  translateY(50px) scale(1);
					opacity: 0;

					span.l{
						font-weight:$fontBlack;
						font-size:3em;
						line-height:1em;
					}
					span.s{
						font-weight:$fontBlack;
						font-size:1.5em;
						line-height:1em;
					}
				}
				&.go{
					p{
					    -webkit-transform: translateY(0px) scale(1);
					    -moz-transform:  translateY(0px) scale(1);
					    -ms-transform:  translateY(0px) scale(1);
					    transform:  translateY(0px) scale(1);
						opacity: 1;
					}
				}
			}
			@media screen and (min-width: 1024px) {
				&{
					width:75%;
					margin:0 auto;
					display:flex;
					.point{
						display:inline;
						float:left;
						p{
							padding:0 20%;
						}
					}
					&.onePoint{
						.point{
							width:100%;	
						}					
					}
					&.twoPoints{
						.point{
							width:50%;	
						}					
					}
					&.threePoints{
						.point{
							width:33.3%;	
						}					
					}
					&.fourPoints{
						.point{
							width:25%;	
						}					
					}
				}
			}			
		}
	}
}

.colourSchemeBlue{
	&.casestudy{
		.buttonBox{
			a{
				&:after{
					background-color:$colourBlue;
				}
			}
		}
	}
}
.colourSchemeGreen{
	&.casestudy{
		.buttonBox{
			a{
				&:after{
					background-color:$colourGreen;
				}
			}
		}
	}
}
.colourSchemePurple{
	&.casestudy{
		.buttonBox{
			a{
				&:after{
					background-color:$colourPurple;
				}
			}
		}
	}
}
.colourSchemePurple2{
	&.casestudy{
		.buttonBox{
			a{
				&:after{
					background-color:$colourPurple2;
				}
			}
		}
	}
}
.colourSchemeYellow{
	&.casestudy{
		.buttonBox{
			a{
				&:after{
					background-color:$colourYellow;
				}
			}
		}
	}
}

/* video insert styles - tend to vary on a case-by-case basis */
#bartlettLaptop{
	width:100%;
	position:relative;
	padding-top:41.3%;
	video{
		width:60%;
		max-width:900px;
		position:absolute;
		left:50%;
		top:50%;
		transform:translate(-50%,-50%);
	}
    .placeholder{
        width:100%;
        height:auto;
    }
    a.playButton{
    }
    &.started{
        a.playButton{
            top:-200%;
            opacity:0;
        }
        .placeholder{
            top:-200%;
            opacity:0;
            width:100%;
            height:auto;
        }
    }
}

.portrait{
	@media screen and (min-width:768px) {
	}

	@media screen and (orientation:landscape){
		video{
			max-height:60vh;
		}
	}

	video{
		position:static;
		width:100%;
		min-height:100%;
		@include trans2(1s);
		opacity:0;
	}
	img{
		position:absolute;
		left:0px;
		top:0px;
		width:100%;
		z-index:2;
	}
	a.playButton{
		background-image:url('/img/casestudy/videoplay-light.png') !important;
		background-size:30%;
		background-position:50% 47%;
		@media screen and (min-width:768px) {
			&{
				background-size:30%;
				background-position:50% 47%;
			}
		}
	}
	&.started{
		video{
			opacity:1;
		}
	}
}

.square{
	width:unset;
	margin:0 auto;
	@media screen and (min-width:768px) {
	}

	@media screen and (orientation:landscape){
		video{
			max-height:60vh;
		}
	}

	video{
		position:static;
		width:100%;
		min-height:100%;
		@include trans2(1s);
		opacity:0;
	}
	img{
		position:absolute;
		left:0px;
		top:0px;
		width:100%;
		z-index:2;
	}
	a.playButton{
		background-image:url('/img/casestudy/videoplay-light.png') !important;
		background-size:30%;
		background-position:50% 47%;
		@media screen and (min-width:768px) {
			&{
				background-size:30%;
				background-position:50% 47%;
			}
		}
	}
	&.started{
		video{
			opacity:1;
		}
	}
}

.fwPlaceholder{
	width:100%;
	position:relative;
	padding-top:41.3%;

	&.nomargin{
		margin-top:0px;
		margin-bottom:0px;
	}

	&.pwfixHeight{
	    .placeholder{
	        width:auto;
	        height:100%;
	    }
	}

	&.nmxw{
		video{
			width:100% !important;
			max-width:unset !important;
		}
	}

	&.tp49{
		padding-top:49%;
	}

	&.tp5625{
		padding-top:56.25%;
	}

	&.tp484{
		padding-top:48.4%;
	}


	video{
		width:60%;
		max-width:900px;
		position:absolute;
		left:50%;
		top:50%;
		transform:translate(-50%,-50%);
	}
    .placeholder{
        width:100%;
        height:auto;
    }
    a.playButton{
    	background-position:50% 50%;
    	background-size:217px 217px;
    	&:hover{
    		/*
    		background-size:300px 300px;
		    */
		    -webkit-animation:pulse 1s linear infinite;
		    -moz-animation:pulse 1s linear infinite;
		    -ms-animation:pulse 1s linear infinite;
		    animation:pulse 1s linear infinite;
		}
    }
    &.started{
        a.playButton{
            top:-200%;
            opacity:0;
        }
        .placeholder{
            top:-200%;
            opacity:0;
            width:100%;
            height:auto;
        }
    }
}

.miniPlaceholder{
	width:100%;
	position:relative;
	padding-top:34.3%;
	video{
		width:60%;
		max-width:900px;
		position:absolute;
		left:50%;
		top:50%;
		transform:translate(-50%,-50%);
	}
    .placeholder{
    	width:76%;
    	height:auto;
		left:50%;
		transform:translate(-50%,0);
    }
    a.playButton{
    }
    &.started{
        a.playButton{
            top:-200%;
            opacity:0;
        }
        .placeholder{
            top:-200%;
            opacity:0;
        }
    }
}

.pulse{
    -webkit-animation:pulse 1s linear infinite;
    -moz-animation:pulse 1s linear infinite;
    -ms-animation:pulse 1s linear infinite;
    animation:pulse 1s linear infinite;
}
@-ms-keyframes pulse {
     0% { -ms-transform: scale(1); }
     50% {  -ms-transform: scale(1.2); }
     100% { -ms-transform: scale(1); }
}
@-moz-keyframes pulse {
     0% { -moz-transform: scale(1); }
     50% {  -moz-transform: scale(1.2); }
     100% { -moz-transform: scale(1); }
}
@-webkit-keyframes pulse {
     0% { -webkit-transform: scale(1); }
     50% { -webkit-transform: scale(1.2); }
     100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
     0% { transform: scale(1); }
     50% {  transform: scale(1.2); }
     100% { transform: scale(1); }
}

/*
@-ms-keyframes pulse {
     0% { background-size:217px 217px; }
     50% {  background-size:300px 300px; }
     100% { background-size:217px 217px; }
}
@-moz-keyframes pulse {
     0% { background-size:217px 217px; }
     50% {  background-size:300px 300px; }
     100% { background-size:217px 217px; }
}
@-webkit-keyframes pulse {
     0% { background-size:217px 217px; }
     50% {  background-size:300px 300px; }
     100% { background-size:217px 217px; }
}
@keyframes pulse {
     0% { background-size:217px 217px; }
     50% {  background-size:300px 300px; }
     100% { background-size:217px 217px; }
}
*/

#hertz1{
	padding-top:39.0%;
}

#bartlettLaptop{
	padding-top:41.3%;
	video{
		width:60%;
	}
}

#ldfFlipside{
	padding-top:38.3%;
	video{
		width:77%;
		max-width:inherit;
	}	
}

#electoral-commission1{
	video{
		width:70%;
	}
}

#wbah1{
	video{
		width:90%;
	}
}

#amazon1{
	padding-top:0%;
	video{
		width:90%;
		max-width:900px;
		position:static;
		left:0px;
		top:0px;
		margin:0 auto;
		transform:translate(0%,0%);
	}
}

#hertzCentury,
#hertzCentury2,
#godfather,
#evaluate{
	padding-top:0%;
	video{
		width:90%;
		max-width:900px;
		position:static;
		left:0px;
		top:0px;
		margin:0 auto;
		transform:translate(0%,0%);
	}
	@media screen and (min-width: 1024px) {
		padding-top:49.6%;
		.placeholder{
			left:0px;
			top:0px;
			width:100%;
			height:auto;
			transform:translate(0%,0%);
		}
		video{
			/* max-width:inherit; */
			position:absolute;
			left:50%;
			top:50%;
			transform:translate(-50%,-50%);
		}
	    &.started{
	        .placeholder{
	            top:-200%;
	            opacity:0;
	        }
	    }

	}
}

#godfather{
	.placeholder{
		left:50%;
		top:50%;
		transform:translate(-50%,-50%);
		width:auto;
		height:100%;
	}
	@media screen and (min-width: 1024px) {
		padding-top:48.7%;
	}
}

#evaluate{
	.placeholder{
		left:50%;
		top:50%;
		transform:translate(-50%,-50%);
		width:auto;
		height:100%;
	}
	@media screen and (min-width: 1024px) {
		padding-top:48.3%;
	}
}

#solace{
	.placeholder{
		left:50%;
		top:50%;
		transform:translate(-50%,-50%);
		object-fit:cover;
		width:auto;
		height:100%;
	}
	padding-top:57%;
	video{
		width:100%;
		max-width:inherit;
	}
	@media screen and (min-width: 1024px) {
		padding-top:41.3%;
		.placeholder{
			object-fit:cover;
			width:100%;
			height:auto;
		}
		video{
			width:72%;
			max-width:1200px;
		}
	}

}

#inn-ooda{
	padding-top:45%;
}

/* brochure animation citroen-c3-aircross.html */
.brochureVideo{
	background-color:#000;
	.container{
		padding:55% 0 0 0;
		background-position: left top;
		background-repeat:no-repeat;
		background-size:100% auto;
		position:relative;
		video{
			opacity:1;
			position:absolute;
			right:0;
			top:50%;
			width:52.5%;
			-webkit-transform: translate(0%,-50%);
			-moz-transform: translate(0%,-50%);
			-ms-transform: translate(0%,-50%);
			-o-transform: translate(0%,-50%);
			transform: translate(0%,-50%);  
			-webkit-transition: opacity 0.5s;
			-moz-transition: opacity 0.5s;
			-o-transition: opacity 0.5s;
			transition: opacity 0.5s;

			&.waiting{
				opacity:0;
			}
		}
		canvas{
			position:absolute;
			right:0;
			top:50%;
			width:52.5%;
			-webkit-transform: translate(0%,-50%);
			-moz-transform: translate(0%,-50%);
			-ms-transform: translate(0%,-50%);
			-o-transform: translate(0%,-50%);
			transform: translate(0%,-50%);  
		}
	}
	@media screen and (min-width: 1200px) {
		&{
			.container{
				width:1170px;
				padding:645px 0 0 0;
			}
		}
	}
	@media screen and (min-width: 992px) {
		&{
			.container{
				width:970px;
				padding:535px 0 0 0;
			}
		}
	}
	@media screen and (min-width: 768px) {
		&{
			.container{
				width:750px;
				padding:413px 0 0 0;
			}
		}
	}
}

  /* museo normal */
  @font-face{
    font-family:tk-museo-slab-n3;
    src:url(https://use.typekit.net/af/53dec0/0000000000000000000100fe/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/53dec0/0000000000000000000100fe/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/53dec0/0000000000000000000100fe/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("opentype");
    font-weight:300;
    font-style:normal;
  }
  @font-face{
    font-family:tk-museo-slab-i3;
    src:url(https://use.typekit.net/af/ea0e14/000000000000000000010141/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("woff2"),url(https://use.typekit.net/af/ea0e14/000000000000000000010141/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("woff"),url(https://use.typekit.net/af/ea0e14/000000000000000000010141/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("opentype");
    font-weight:300;
    font-style:italic;
  }
  /* museo bold */
  @font-face{
    font-family:tk-museo-slab-n5;
    src:url(https://use.typekit.net/af/aa4f4e/000000000000000000012043/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff2"),url(https://use.typekit.net/af/aa4f4e/000000000000000000012043/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff"),url(https://use.typekit.net/af/aa4f4e/000000000000000000012043/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("opentype");
    font-weight:500;
    font-style:normal;
  }
  @font-face{
    font-family:tk-museo-slab-i5;
    src:url(https://use.typekit.net/af/f1892e/00000000000000000000ec08/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3) format("woff2"),url(https://use.typekit.net/af/f1892e/00000000000000000000ec08/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3) format("woff"),url(https://use.typekit.net/af/f1892e/00000000000000000000ec08/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3) format("opentype");
    font-weight:500;
    font-style:italic;
  }

.ev2header{
	width:100%;
	padding-top:32.81%;
	position:relative;
	background-position: left top;
	background-repeat:no-repeat;
	background-size:100% auto;
	overflow:hidden;
	h2{
		margin:0;
		padding:0;
		color:#fff;
		position:absolute;
		left:50%;
		top:50%;
		z-index:5;
		width:100%;
		font-family:tk-museo-slab-n3,verdana,serif;
		font-size:6.25vw;	
		text-align:center;
		-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		-o-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);  
	}
	.underscore{
		position:absolute;
		right:46.5%;
		top:57%;
		z-index:10;
		width:14%;
		background-color:#fff;
		height:2%;	
	}
	.gaps{
		color:#fff;
		text-align:left;
		display:inline-block;
		font-family:tk-museo-slab-n3,verdana,serif;
		font-size:6.25vw;	
		position:absolute;
		left:39.5%;
		top:36%;
		z-index:10;
		width:10%;
		min-height:1px;
	}
	img{
		position:absolute;
		left:38%;
		top:39%;
		z-index:15;
		width:2%;
		height:auto;
	}
}

.evaluate2gaps{
	width:100%;
	position:relative;
	padding-top:33.75%;
	img{
		position:absolute;
	}
	.static{
		z-index:5;
		width:100%;
		height:auto;
		left:0px;
		top:0px;
	}
	.animation{
		width:17%;
		height:auto;
		z-index:5;
		left:37%;
		top:35.3%;
	}
}

.autovideo{
	video{
		opacity:1;
		transition: opacity 0.5s;
		&.waiting{
			opacity:0;
		}
	}
}

.evaluate2video{
	width:100%;
	padding-top:53.58%;
	background-position: left top;
	background-repeat:no-repeat;
	background-size:100% auto;
	position:relative;

	video{
		position:absolute;
		left:0px;
		top:0px;
		width:100%;
		height:auto;
	}
}

.autovideoflex{
	video{
		width:100%;
		height:auto;
	}	
}

#lit_by_bowens{
	margin-top:0px;
	margin-bottom:0px;
}