footer{
    box-sizing:border-box;
    width:100%;
    height:auto;
    padding:44px 10px;
    display:block;
    float:none;
    width:100%;
    text-align:center;
    h2,p,address,a{color:#fff;margin:0;padding:0;}
    
    .footerLogo{
        margin-bottom:20px;
        text-align:center;
        img{
            display:block;
            margin:0 auto 20px auto;
        }
    }
    h2{
        color:$colourRust;
        font-size:25px;
        margin:0 0 2.5rem 0;
        line-height:120%;
    }
    p,address{
        font-weight:$fontLight;
        font-size:2rem;
        &.sublinks{
            margin-top:1em;
        }
    }
    a{
        font-weight:$fontLight;
        font-size:22px;
        text-decoration:none;
        cursor:pointer;
        &:hover{
            text-decoration:underline;
        }
    }
    address{
        br.mbr{
            display:block;
            @media screen and (min-width: $footerBreak01) {
                &{
                    display:none;
                }
            }
        }
    }

    nav.phoneAndEmail{
        width:auto;
        margin:0 auto 1.4rem auto;
        p{
            display:block;
            text-align:center;
            padding:4px 0 0 0;
            margin:0;
            line-height:1.2rem;
            &.phone{margin-bottom:1em;}
            &.email{}
            span{
                color:#f77c71;
            }
        }
        @media screen and (min-width: $footerBreak01) {
            &{
                display:flex;
                justify-content:center;
                p{
                    display:inline-block;
                    padding:4px 0 0 0;
                    margin:0;
                    &.phone{padding-right:2rem;margin-bottom:0;}
                    &.email{padding-left:2rem;border-width:0 0 0 1px;border-style:solid;border-color:#fff;}
                    span{
                        color:#f77c71;
                    }
                }
            }
        }
    }

    nav.socialMedia{
        padding:20px 0px 20px 0px;
        margin:3.5rem 0;
        display:block;
        float:none;
        text-align:center;
        clear:left;
        a{
            width:44px;
            height:44px;
            overflow:hidden;
            text-indent:-9999em;
            background-repeat:no-repeat;
            background-position:left top;
            display:inline-block;
            float:none;
            backgrouns-size:40px 40px;
            &.twitter{
                background-image:url('../img/footer/twitter.png');
                margin-right:12px;
            }
            &.linkedin{
                background-image:url('../img/footer/linkedin.png');
                margin-right:12px;
            }
            &.instagram{
                background-image:url('../img/footer/instagram.png');
            }
        }

        /*640*/
        @media screen and (min-width: $footerBreak01) {
            &{
                padding:0px;
                display:inline-block;
                a{
                    float:left;
                }
            }
        }
    }

    @media screen and (min-width: $footerBreak01) {
        &{
            padding:44px 42px;
        }
    }
}

/*
.homepage{
    footer{
        section.git{
            text-align:center;
            padding-bottom:20px;
            h2,p,address,a{color:#fff;margin:0;padding:0;}
            h2{
                font-weight: $fontSemiBold;
                color:$colourBlue;
                font-size:1.6em;
                margin:0 0 10px 0;
                line-height:120%;
                span{color:#67b2e8;}   
            }
            p{
                font-weight:$fontLight;
                font-size:1.3em;
                &.sublinks{
                    margin-top:1em;
                }
            }
            a{
                font-weight:$fontLight;
                font-size:1.3em;
                text-decoration:none;
                cursor:pointer;
                &:hover{
                    text-decoration:underline;
                }
            }
        }
        @media screen and (orientation: portrait) and (max-width: 640px) {
            &{
                padding-left:10px;
                padding-right:10px;
                section.git{

                    a{
                        font-size:1.1em;
                    }
                }
            }
        }
    }
}
*/