.bounce{
    -webkit-animation:bounce 2s linear infinite;
    -moz-animation:bounce 2s linear infinite;
    -ms-animation:bounce 2s linear infinite;
    animation:bounce 2s linear infinite;
}
@-ms-keyframes bounce {
     0% { bottom:-30px; }
     50% {  bottom:-0px; }
     100% {  bottom:-30px; }
}
@-moz-keyframes bounce {
    0% {  bottom:-30px; }
    50% {  bottom:-0px; }
    100% {  bottom:-30px; }
}
@-webkit-keyframes bounce {
    0% {  bottom:-30px; }
    50% {  bottom:-0px; }
    100% {  bottom:-30px; }
}
@keyframes bounce {
    0% {  bottom:-30px; }
    50% {  bottom:-0px; }
    100% {  bottom:-30px; }
}

.bounce2{
    -webkit-animation:bounce2 1s linear infinite;
    -moz-animation:bounce2 1s linear infinite;
    -ms-animation:bounce2 1s linear infinite;
    animation:bounce2 1s linear infinite;
}
@-ms-keyframes bounce2 {
     0% { bottom:-60px; }
     50% {  bottom:-30px; }
     100% {  bottom:-60px; }
}
@-moz-keyframes bounce2 {
    0% {  bottom:-60px; }
    50% {  bottom:-30px; }
    100% {  bottom:-60px; }
}
@-webkit-keyframes bounce2 {
    0% {  bottom:-60px; }
    50% {  bottom:-30px; }
    100% {  bottom:-60px; }
}
@keyframes bounce2 {
    0% {  bottom:-60px; }
    50% {  bottom:-30px; }
    100% {  bottom:-60px; }
}

.headingslidein{
    /* duration , easing function, delay, iteration count, fill mode, name */
    /*
    -webkit-animation: 1s linear 1s 1 forwards headingslidein;
    -moz-animation: 1s linear 1s 1 forwards headingslidein;
    -ms-animation: 1s linear 1s 1 forwards headingslidein;
    animation: 1s linear 1s 1 forwards headingslidein;
    */
    -webkit-animation: 1s linear 1s 1 headingslidein;
    -moz-animation: 1s linear 1s 1 headingslidein;
    -ms-animation: 1s linear 1s 1 headingslidein;
    animation: 1s linear 1s 1 headingslidein;
}
@-ms-keyframes headingslidein {
     0% {  bottom:-100px; opacity:0; }
     50% {  bottom:-100px; opacity:0.25; }
     100% {  bottom:0px; opacity:1; }
}
@-moz-keyframes headingslidein {
     0% {  bottom:-100px; opacity:0; }
     50% {  bottom:-100px; opacity:0.25; }
     100% {  bottom:0px; opacity:1; }
}
@-webkit-keyframes headingslidein {
     0% {  bottom:-100px; opacity:0; }
     50% {  bottom:-100px; opacity:0.25; }
     100% {  bottom:0px; opacity:1; }
}
@keyframes headingslidein {
     0% {  bottom:-100px; opacity:0; }
     50% {  bottom:-100px; opacity:0.25; }
     100% {  bottom:0px; opacity:1; }
}

.clipperFadeIn{
    -webkit-animation: 1s linear 1s 1 clipperFadeIn;
    -moz-animation: 1s linear 1s 1 clipperFadeIn;
    -ms-animation: 1s linear 1s 1 clipperFadeIn;
    animation: 1s linear 1s 1 clipperFadeIn;
}
@-ms-keyframes clipperFadeIn {
     0% { opacity:0; }
     50% {  opacity:0.5; }
     100% {  opacity:1 }
}
@-moz-keyframes clipperFadeIn {
     0% { opacity:0; }
     50% {  opacity:0.5; }
     100% {  opacity:1 }
}
@-webkit-keyframes clipperFadeIn {
     0% { opacity:0; }
     50% {  opacity:0.5; }
     100% {  opacity:1 }
}
@keyframes clipperFadeIn {
     0% { opacity:0; }
     50% {  opacity:0.5; }
     100% {  opacity:1 }
}

.clipperOpen{
    -webkit-animation: 1s linear 1s 1 clipperOpen;
    -moz-animation: 1s linear 1s 1 clipperOpen;
    -ms-animation: 1s linear 1s 1 clipperOpen;
    animation: 1s linear 1s 1 clipperOpen;
}
@-ms-keyframes clipperOpen {
     0% { max-height:0; }
     50% { max-height:25em; }
     100% { max-height:50em; }
}
@-moz-keyframes clipperOpen {
     0% { max-height:0; }
     50% { max-height:25em; }
     100% { max-height:50em; }
}
@-webkit-keyframes clipperOpen {
     0% { max-height:0; }
     50% { max-height:25em; }
     100% { max-height:50em; }
}
@keyframes clipperOpen {
     0% { max-height:0; }
     50% { max-height:25em; }
     100% { max-height:50em; }
}
