header.page{
	.menu{
		nav{
			div.item{
				a{
					position:relative;
					&:after{
						content:" ";
						position:absolute;
						left:0;
						bottom:0;
						height:6px;
						background-color:#67b2e8;
						width:100%;
						display:block;
						opacity:0;
						@include trans2(0.3s);
					}
					
					&:hover{
						text-decoration:none;
						&:after{
							opacity:1;
						}

					}
				}
			}
		}
	}
}
.colourSchemeBlue{
	header.page{
		.menu{
			nav{
				div.item{
					a{
						&:after{
							background-color:$colourBlue;
						}
					}
				}
			}
		}
	}
}
.colourSchemeGreen{
	header.page{
		.menu{
			nav{
				div.item{
					a{
						&:after{
							background-color:$colourGreen;
						}
					}
				}
			}
		}
	}
}
.colourSchemePurple{
	header.page{
		.menu{
			nav{
				div.item{
					a{
						&:after{
							background-color:$colourPurple;
						}
					}
				}
			}
		}
	}
}
.colourSchemeYellow{
	header.page{
		.menu{
			nav{
				div.item{
					a{
						&:after{
							background-color:$colourYellow;
						}
					}
				}
			}
		}
	}
}
