.people{
	section.peopleGrid{
		width:100%;
		padding:0 0px;
		box-sizing:border-box;
		margin:0 auto;
		display:flex;
		flex-wrap:wrap;
		&:after{
			content: " ";
			clear:both;
			float:none;
			display:block;
		}
		.inbetween{
			width:100%;
			overflow:hidden;
			max-height:0;
			&.go{
				max-height:500px;
			}
			div.metadata{
				padding:30px;
				box-sizing:border-box;
				p{
					color:#fff;
				}
			}
		}
		div.biobox{
			&.one{width:100%;}
			&.two{width:50%;padding-top:0;}
			&.three{width:33.3%;padding-top:0;}
			&.four{width:25%;padding-top:0;}
			&.lastBioBox{margin-left:25%;}
			display:inline-block;
			float:left;
			width:100%;
			padding:0 0px 0px 0px;
			box-sizing:border-box;

			div.metadata{
				padding:30px;
				box-sizing:border-box;
				p{
					color:#fff;
					font-size:1.5rem;
				}
			}
			@media screen and (min-width: 480px) {
				width:50%;
			}
			@media screen and (min-width: 768px) {
				width:33.3%;
			}
			@media screen and (min-width: 1024px) {
				width:25%;
			}
		}
		article.person{
			display:inline-block;
			float:left;
			width:100%;
			padding:0 0px 0px 0px;
			box-sizing:border-box;
			-webkit-transition: -webkit-transform 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
			-moz-transition: -moz-transform 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
			-o-transition: -o-transform 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
			transition: transform 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
			opacity:0;

			&:hover{
				.box{
					.portrait{
						.frame{
							img{
								opacity:0.25;
							    -webkit-transform: translateX(-50%) scale(1.2);
							    -moz-transform:  translateX(-50%) scale(1.2);
							    -ms-transform:  translateX(-50%) scale(1.2);
							    transform:  translateX(-50%) scale(1.2);
							}
						}

					}
				}
			}

			&.ready{
				opacity:1;
			}

			.box{
				width:100%;
				position:relative;
				padding:100% 10px 0 10px;
				box-sizing:border-box;

				.portrait{
					position:absolute;
					left:0;
					top:0%;
					z-index:10;
					width:100%;
					padding:0 10px;
					.frame{
						position:relative;
						width:100%;
						padding-top:100%;
						overflow:hidden;
						background-color:#000;
						img{
							cursor:pointer;
							height:100%;
							position:absolute;
							left:50%;
							top:0px;

						    -webkit-transform: translateX(-50%) scale(1);
						    -moz-transform:  translateX(-50%) scale(1);
						    -ms-transform:  translateX(-50%) scale(1);
						    transform:  translateX(-50%) scale(1);

							/* @include transTransform(); */
							-webkit-transition: -webkit-transform 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
							-moz-transition: -moz-transform 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
							-o-transition: -o-transform 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
							transition: transform 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
							/* @include transformScale(1); */
							opacity:1;
						}
					}
				}
				.info{
					position:absolute;
					left:0px;
					bottom:0px;
					/* transform: translateY(-50%); */
					z-index:20;
					width:100%;
					padding:10px 36px 34px 36px;
					box-sizing:border-box;
					background-color:rgba(16, 0, 40,0.5);
					text-align:center;
					/*
					&:after{
						content:" ";
						display:block;
						height:6px;
						width:56px;
						background-color:#fff;
					}
					*/
					h2,h3,p{color:#fff;margin:0;/*text-shadow: 2px 2px #000;*/}
					h2{
						font-family: 'Playfair Display', serif;
						font-weight:normal;
						font-size:2rem;
						line-height:2.2rem;
						margin-bottom:0.4em;
					}
					h3{
						font-size:0.9em;
						line-height:1.1em;
						padding-bottom:5px;
					}
					p,a{display:none;}
					p{
						a{}
					}
					a{}
				}
				div.metadata{
					display:none;
					position:absolute;
					left:0px;
					bottom:0px;
					/* transform: translateY(-50%); */
					z-index:30;
					width:100%;
					min-height:100%;
					padding:34px 26px;
					box-sizing:border-box;
					p{
						color:#fff;
					}
				}
				a.triggerbio{
					position:absolute;
					left:0px;
					bottom:0px;
					z-index:40;
					width:100%;
					min-height:100%;
					text-indent:-9999em;
					overflow:hidden;
				}
			}
			@media screen and (min-width: 480px) {
				&{
					width:50%;
					&.centred{
						&.ncentre{
							margin-left:0;
						}
						margin-left:25%;
					}
				}
			}
			@media screen and (min-width: 768px) {
				&{
					width:33.3%;
					&.centred{
						&.ncentre{
							margin-left:0;
						}
						margin-left:33.3%;
					}
				}
			}
			@media screen and (min-width: 1024px) {
				&{
					width:25%;
					&.centred{
						&.ncentre{
							margin-left:0;
						}
						margin-left:37.5%;
					}
				}
			}
			&.lineBlue{
				.box{
					.info{
						&:after{
							background-color:$colourBlue;
						}
					}
				}
			}
			&.lineYellow{
				.box{
					.info{
						&:after{
							background-color:$colourYellow;
						}
					}
				}
			}
			&.linePurple{
				.box{
					.info{
						&:after{
							background-color:$colourPurple;
						}
					}
				}
			}
			&.lineGreen{
				.box{
					.info{
						&:after{
							background-color:$colourGreen;
						}
					}
				}
			}
		}
		&.openbio{
			article.person{
				.box{
					.portrait{
						.frame{
							img{
								opacity:0.25;
							}
						}

					}
				}
				&.openPerson{
					.box{
						.portrait{
							.frame{
								img{
									opacity:1;
								}
							}

						}
					}
				}
			}
		}
	}

	section.personOverlay{
		position:absolute;
		top:0px;
		left:0px;
		z-index:100;
		width:100%;
		background-color:rgba(0,0,0,0.95);
		-webkit-transition: -webkit-transform 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
		-moz-transition: -moz-transform 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
		-o-transition: -o-transform 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
		transition: transform 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
	    -webkit-transform: translateY(-2000px) scale(1);
	    -moz-transform:  translateY(-2000px) scale(1);
	    -ms-transform:  translateY(-2000px) scale(1);
	    transform:  translateY(-2000px) scale(1);
		opacity: 0;
		&.open{
			.trigger2{
				opacity:1;
			}
		    -webkit-transform: translateY(0px) scale(1);
		    -moz-transform:  translateY(0px) scale(1);
		    -ms-transform:  translateY(0px) scale(1);
		    transform:  translateY(0px) scale(1);
		    opacity:1;
		}
		.info{
			width:100%;
			max-width:1200px;
			margin:0 auto;
			padding:20px 20px 20px 20px;
			box-sizing:border-box;
			h2,h3,p{color:#fff;margin:0;}
			h2{
				font-weight:$fontBold;
				font-size:1.4em;
				margin-bottom:0.4em;
				padding-right:20px;
			}
			h3{
				font-size:1.3em;
				line-height:1.7em;
				padding-right:20px;
			}
			p{
				margin-bottom:1em;
				a{}
			}
			a{}
		}
		.trigger2{
			float:right;
			cursor:pointer;
			width:63px;
			height:57px;
			padding:10px 0 0 10px;
			box-sizing:border-box;
			opacity:0;
			@include trans2(0.8s);
			div.button{
				position:relative;
				width:43px;
				height:37px;
				&:before{
					content:" ";
					display:block;
					position:absolute;
					width:30px;
					height:5px;
					background-color:#fff;
					top:16px;
					@include transformRotate(45deg);
				}
				&:after{
					content:" ";
					display:block;
					position:absolute;
					width:30px;
					height:5px;
					background-color:#fff;
					top:16px;
					@include transformRotate(-45deg);
				}
			}
		}
	}
}