.circle1,
.circle2{
	fill:rgba(255,255,255,0);
}
.xcircle1{stroke-width:10px;stroke:#fff;}
.xcircle2{stroke-width:2px;fill:rgba(255,255,255,0);}
.svgmenu{
	svg{
		border:1px dotted #000;
		@include transformScale(0.3);
		position:relative;
		left:-42px;
		margin-top:-62px;
	}
	path{ stroke:#fff; }
}