$fontLight: 300;
$fontNormal: 400;
$fontSemiBold: 600;
$fontBold: 700;
$fontExtraBold: 800;
$fontBlack: 900;

$moduleBreak01: 1024px;
$moduleBreak02: 768px;
$moduleBreak03: 640px;
$moduleBreak04: 480px;
$moduleBreak05: 320px;

$fontSizeLarge: 42px;
$fontSizeNormal: 33px;
$fontSizeMedium: 24px;
$fontSizeSmall: 18px;

$moduleMinHeight:400px;

$positionBreak01: 768px;
$footerBreak01 : 640px;
$footerBreak02 : 520px;
$logoBreak: 768px;

$colourBlue: #67b2e8;
$colourGreen: #95d600;
$colourYellow: #ffb819;
$colourPurple: #e19cdf;
$colourPurple2: #b6008d;
$colourRust: #f77c71;
$colorCoral: #f77c71;

$workBreakpoint: 700px;
