.workindex{
	header.work{
		text-align:center;
		width:100%;
		box-sizing:border-box;
		padding:142px 0 23px 0;
		h1{
			font-size:4em;
			color:#fff;
			font-weight:$fontBlack;
			margin:0;
			@media screen and (min-width: 640px) {
				&{
					font-size:6.8em;
				}
			}
		}
	}

	#fixerWork{
		.fixerItem{
			overflow:hidden;
			h2{
				@include trans2(1s);	
				@include transformScale(0);
			}
		}
		&.go{
			.fixerItem{
				h2{
					@include transformScale(1);
				}
			}
		}
	}
}

.colourSchemeBlue{
	.textBlock{
		h3.colourScheme{
			color:$colourBlue;
		}
		hr{
			background-color:$colourBlue;
		}
	}
	.workButtonContainer{
		.control{
			a.viewmore{
				&:hover{
					&:after{
						background-color:$colourBlue;
					}
				}
			}
		}
	}
}
.colourSchemeGreen{
	.textBlock{
		h3.colourScheme{
			color:$colourGreen;
		}
		hr{
			background-color:$colourGreen;
		}
	}
	.workButtonContainer{
		.control{
			a.viewmore{
				&:hover{
					&:after{
						background-color:$colourGreen;
					}
				}
			}
		}
	}
}
.colourSchemePurple{
	.textBlock{
		h3.colourScheme{
			color:$colourPurple;
		}
		hr{
			background-color:$colourPurple;
		}
	}
	.workButtonContainer{
		.control{
			a.viewmore{
				&:hover{
					&:after{
						background-color:$colourPurple;
					}
				}
			}
		}
	}
}
.colourSchemePurple2{
	.textBlock{
		h3.colourScheme{
			color:$colourPurple2;
		}
		hr{
			background-color:$colourPurple2;
		}
	}
	.workButtonContainer{
		.control{
			a.viewmore{
				&:hover{
					&:after{
						background-color:$colourPurple2;
					}
				}
			}
		}
	}
}
.colourSchemeYellow{
	.textBlock{
		h3.colourScheme{
			color:$colourYellow;
		}
		hr{
			background-color:$colourYellow;
		}
	}
	.workButtonContainer{
		.control{
			a.viewmore{
				&:hover{
					&:after{
						background-color:$colourYellow;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $workBreakpoint) {
	.workItem{
        .caption{
            .c2{
            	h4{
                	margin-left:auto;
                	margin-right:auto;
                	}
				&:after{
					content:" ";
					display:block;
					height:3px;
                	margin-left:auto;
                	margin-right:auto;
				}
            }
        }
	}

	/* consumer */
	.wk-anusol-brand-website-development{
        .caption{
            .c2{
                h4{
                	width:220px;
                }
				&:after{
					width:170px;
				}
            }
        }
	}
	.wk-look-both-ways{
        .caption{
            .c2{
                h4{
                	width:220px;
                }
				&:after{
					width:200px;
				}
            }
        }
	}
	.wk-psa-salesforce{
        .caption{
            .c2{
                h4{
                	width:250px;
                }
				&:after{
					width:150px;
				}
            }
        }
	}
	.wk-lechameau-when-you-know{
        .caption{
            .c2{
                h4{
                	width:220px;
                }
				&:after{
					width:160px;
				}
            }
        }
	}
	.wk-opg-be-my-voice{
        .caption{
            .c2{
                h4{
                	width:160px;
                }
				&:after{
					width:154px;
				}
            }
        }
	}
	.wk-hertz-stop-before-you-get-there{
        .caption{
            .c2{
                h4{
                	width:180px;
                }
				&:after{
					width:175px;
				}
            }
        }
	}
	.wk-electoral-commission{
        .caption{
            .c2{
                h4{
                	width:100px;
                }
				&:after{
					width:80px;
				}
            }
        }
	}
	.wk-the-scotsman-louder{
        .caption{
            .c2{
                h4{
                	width:100px;
                }
				&:after{
					width:94px;
				}
            }
        }
	}

	/* business */
	.wk-evaluate-professionally-curious{
        .caption{
            .c2{
                h4{
                	width:200px;
                }
				&:after{
					width:100px;
				}
            }
        }
	}
	.wk-cma{
        .caption{
            .c2{
                h4{
                	width:200px;
                }
				&:after{
					width:185px;
				}
            }
        }
	}
	.wk-bartlett-group{
        .caption{
            .c2{
                h4{
                	width:200px;
                }
				&:after{
					width:125px;
				}
            }
        }
	}
}