.workButtonContainer{
	width:100%;
	.buttons{
		&:after{
			content:" ";
			display:block;
			clear:both;
			float:none;
		}
		.clip{
			@include trans2(1s);
			overflow:hidden;
			max-height:0;
		}
		&.closed{
			.clip{
				max-height:0;		
			}
		}
	}
	.control{
		position:static;
		left:0px;
		top:0px;
		z-index:0;
		width:100%;
		box-sizing:border-box;
		text-align:center;
		.clip{
			@include trans2(1s);
			overflow:hidden;
			max-height:auto;
		}
		&.closed{
			.clip{
				max-height:0;		
			}
		}
		a.viewmore{
			display:inline-block;
			width:auto;
			margin:30px auto;
			font-size:2.8em;
			font-weight:$fontBlack;
			color:#fff;
			position:relative;
			&:hover{
				text-decoration:none;
				&:after{
					position:absolute;
					left:0px;
					bottom:0px;
					content:" ";
					display:block;
					width:100%;
					height:6px;
					background-color:#fff;
				}
			}
		}
	}			
}

.ios{
	.workItem{
		.frame{
			opacity:0.5;
		}
		.caption{
			opacity:1;
		}
	}	
}

.workItem{
	display:table;
	float:left;
	box-sizing:border-box;
	padding-left:0px;
	padding-right:0px;
	width:100%;
	.pad{
		width:100%;
		height:100%;
		box-sizing:border-box;

		padding-top:50%;

		position:relative;
		overflow:hidden;
		background-color:#000;
	}
	.frame{
		width:100%;
		height:100%;
		min-height:100%;
		position:absolute;
		left:0;
		top:0;
		z-index:10;
		@include transopacity2(0.3s);
		opacity:0.5;
		.zoomFrame{
			@include transTransform();
			
			@include transformScale(1);
			width:100%;
			height:100%;
			min-height:100%;
			background-position:50% 50%;
			background-size:cover;
			background-repeat:no-repeat;
			img{display:none;}
		}
	}
	.caption{
		@include transopacity2(0.3s);
		width:100%;
		text-align:center;
		position:absolute;
		left:0;
		top:50%;
		transform: translateY(-50%);
		z-index:20;
		opacity:1;
		display:table-cell;
		padding:0 5%;
		.c2{
			width:auto;
			margin:0 auto;
			display:inline-block;
			h3{
				font-size:1.4em;
				font-weight:$fontBold;
				margin:0;
				color:#fff;
				
			}
			h4{
				font-size:1.75em;
				font-family: 'Playfair Display', serif;
				font-weight:600;
				color:#fff;
				margin:0 0 5px 0;

			}
			&:after{
				content:" ";
				display:block;
				height:3px;
				width:100%;
				background-color:#f00;
			}
		}
	}
	a.overlay{
		width:100%;
		height:100%;
		position:absolute;
		left:0;
		top:0;
		z-index:30;
		opacity:0;
		text-indent:-9999em;
		overflow:hidden;
	}
	@media screen and (min-width: 640px) {
		&{
			.caption{
				.c2{
					width:auto;
					
				}					
			}
		}
	}
	@media screen and (min-width: $workBreakpoint) {
		&{
			width:50%;
			.pad{
				padding-top:58.4%;
			}
			.caption{
				.c2{
					width:auto;
				}					
			}
		}
	}
	@media screen and (min-width: 900px) {
		&{
			.caption{
				.c2{
					width:auto;
				}					
			}
		}
	}
	@media screen and (min-width: 980px) {
		&{
			.caption{
				.c2{
					width:auto;
					h4{
						font-size:2.5em;
					}
				}					
			}
		}
	}
	@media screen and (min-width: 1028px) {
		&{
			.frame{
				opacity:1;
				.zoomFrame{
					@include transformScale(1);
				}
			}
			.caption{
				opacity:0;
			}
			&:hover{
				.frame{
					opacity:0.5;
					.zoomFrame{
						@include transformScale(1.2);
					}
				}
				.caption{
					opacity:1;
				}
			}

		}
	}
	&.lineBlue{
		.caption{
			.c2{
				&:after{
					background-color:$colorCoral;
				}
			}
		}
	}
	&.lineGreen{
		.caption{
			.c2{
				&:after{
					background-color:$colorCoral;
				}
			}
		}
	}
	&.lineYellow{
		.caption{
			.c2{
				&:after{
					background-color:$colorCoral;
				}
			}
		}
	}
	&.linePurple{
		.caption{
			.c2{
				&:after{
					background-color:$colorCoral;
				}
			}
		}
	}
	&.linePurple2{
		.caption{
			.c2{
				&:after{
					background-color:$colorCoral;
				}
			}
		}
	}
}

