@import 'variables';
@import 'functions';


body {
	
}

.mt05 {margin-top:0.5rem!important;}
@for $i from 0 through 5 {
	.ml#{$i} {margin-left:#{$i}rem!important;}
	.mt#{$i} {margin-top:#{$i}rem!important;}
	.pt#{$i} {padding-top:#{$i}rem!important;}
	.mb#{$i} {margin-bottom:#{$i}rem!important;}
	.pb#{$i} {padding-bottom:#{$i}rem!important;}
	.mr#{$i} {margin-right:#{$i}rem!important;}
}

.hidden {
	display:none;
}

.ff {float:left;}
.error {
	color:#d20000;
	margin: 0 0 0.5rem 0;
}

.alert-box .close.top {
	top:1rem!important;
}

.table-buttons .button {
	margin-bottom:0;
}

.accordion {
	margin-left:0!important;

	li {

		&.active {
			a::before {
				content: "- ";
			}
		}

		a {
			//padding-left:3rem!important;

			&::before {
				content: "+ ";
			}
		}
	}
}

img.preview {
	width:100%;
}

tr.featured{
	td,th{font-weight:bold;}
}
tr.disabled {
	background-color:#E4D6D6;

	&:nth-of-type(even) {
		background-color: darken(#E4D6D6,4);
	}

	a:link, a:visited {
		color: darken(#E4D6D6,25);
	}

	a:hover, a:visited:hover {
		color: darken(#E4D6D6,35);
	}
}

th{
	text-align:left;
}

.th {
	position:relative;

	img {
		width:100px;
	}

	.btn {
		position:absolute;
		right:3px;
		bottom:3px;
		padding:8px 0 0 3px;
		font-size:20px;
		width:20px; height:20px;
		color:$black;
		background-color:rgba(255,255,255,0.5);
		@include opacity(0);
		@include transition-this(opacity);
	}

	&:hover {
		.btn {
			@include opacity(1);
		}
	}

	.fakeIcon {
		display:block;
		width:100px; height:100px;

		span {
			display:block;
			padding-top:50%;
			width:100%;
			text-align: center;
		}
	}
}


.table-top {
	vertical-align:top;
}

ul.dropdown-pane {
	list-style:none;
}

td.title_column{
	text-align:left;
}
td.branch_column{
	text-align:center;
}
td.active_column{
	text-align:center;
	color:#00cf00;
}

tr.inactive{
	td{
		font-style:italic;
		color:#7f7f7f;
	}
	td.active_column{
		color:#f00;
		font-weight:bold;
	}
}

div.peopleList{
	ul{
		list-style-type:none;
		padding-left:0;
		width:95%;
		margin:0 auto;
		display:flex;
		flex-wrap: wrap;
		flex-direction: row;
		li{
			box-sizing:border-box;
			padding:10px;
			width:100%;
			position:relative;
			img{
				width:100%;
				height:auto;
			}
			&.inactive{
				img{
					opacity:0.5;
				}
			}
			&:hover{
				div.controls{
					max-height:20em;
				}
			}
		}
	}
	div.controls{
		bottom:10px;
	}
}


@media screen and (min-width:480px){
	div.peopleList ul li{
		width:50%;
	}
}
@media screen and (min-width:768px){
	div.peopleList ul li{
		width:33.3%;
	}
}
@media screen and (min-width:1024px){
	div.peopleList ul li{
		width:25%;
	}
}
.imagePreview{
	margin-bottom:10px;
}
.tagBox{
	list-style-type:none;
	padding-left:0;
	margin:0 0 1em 0;
	&:after{
		content:' ';
		clear:both;
		float:none;
		display:block;
	}
	li{
		display:inline-block;
		float:left;
		clear:none;
		border-radius:4px;
		border:1px solid #7f7f7f;
		background-color:#c0c0c0;
		color:#000;
		margin-right:5px;
		margin-bottom:5px;
		padding:2px 2px 2px 8px;
		span{
			display:inline-block;
		}
		span.text{
			padding-right:10px;
		}
		span.remove{
			text-align:center;
			padding:0px;
			width:22px;
			height:22px;
			border-radius:11px;
			cursor:pointer;
			background-color:#f00;
			color:#fff;
			&:hover{
				background-color:#fff;
				color:#f00;
			}
		}
	}
}

.rLinks{
	h2{
		font-size:1em;
	}
	.rlw{
		p.nl{
			display:none;
		}
		#rlinkList{
			display:block;
			list-style-type:none;
			padding-left:0;
			width:100%;
			margin-left:0;

			li{
				position:relative;
				padding:10px;
				margin-bottom:10px;
				border:1px solid #d0d0d0;
				border-radius: 3px;
				min-height:58px;
				.frame{
					width:48px;
					height:48px;
					position:relative;
					overflow:hidden;
					display:inline-block;
					float:left;
					clear:none;
					margin-right:10px;
					img{
						width:100%;
						height:auto;
					}
				}
				p{
					display:inline-block;
					float:left;
					clear:none;
					padding-right:120px;
					box-sizing:border-box;
					margin-bottom:0;
				}
				ul.controls{
					position:absolute;
					right:10px;
					top:10px;
					li{
						display:inline-block;
						float:left;
						clear:none;
						margin-left:10px;
						border:0;
						padding:0;
					}
				}
				&:after{
					content:' ';
					display:block;
					float:none;
					clear:both;
				}
			}
		}
		&.nolinks{
			p.nl{
				display:block;
			}
			#rlinkList{
				display:none;
			}
		}
	}
	#rlinkEdit{
	}
	div.wrapper{
		padding:10px;
		border:1px solid #d0d0d0;
		margin-bottom:1em;
	}
	.actions{
		button{
			display:inline-block;
			float:left;
			clear:none;	
			margin-right:10px;
		}
		#addRlink{display:inline-block;}
		#updateRlink{display:none;}
		&.editMode{
			#addRlink{display:none;}
			#updateRlink{display:inline-block;}
		}
		&:after{
			content:' ';
			display:block;
			clear:both;
			float:none;
		}
	}
}

div.clientList{
	ul{
		list-style-type:none;
		padding-left:0;
		width:75%;
		margin:0 auto;
		display:flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-evenly;
		& > li{
			box-sizing:border-box;
			padding:10px;
			width:23%;
			background-color:#000;
			margin-bottom:10px;
			position:relative;
			& > div.frame{
				width:100%;
				height:100%;
				display:flex;
				img{
					width:100%;
					height:auto;
					margin:auto;
				}
			}
			&:hover{
				div.controls{
					max-height:20em;
				}
			}
		}
	}
	
}

#previewLogo{
	background-color:#000;
	display:inline-block;
	width:180px;
	height:180px;
	position:relative;
	display:flex;
	padding:10px;
	box-sizing:border-box;
	img{
		margin:auto;
		width:160px;
		height:auto;
	}
}

div.controls{
	position:absolute;
	left:0;
	bottom:0px;
	width:100%;
	box-sizing:border-box;
	padding:0 10px 0px 10px;
	max-height:0;
	overflow:hidden;
	& > ul{
		list-style-type:none;
		padding:0;
		width:100%;
		display:flex;
		box-sizing:border-box;

		& > li{
			width:50%;
			padding:0;
			box-sizing:border-box;

			& > a{
				color:#fff;
				text-decoration:none;
				box-sizing:border-box;
				text-align:center;
				display:inline-block;
				width:100%;
				padding:0.5em 0;

				&:hover{
					background-color:#fff;
					font-weight:bold;
				}
			}
			&.edit{
				a{
					background-color:#007f00;
					&:hover{
						color:#007f00;
						background-color:#fff;
					}
				}

			}
			&.delete{
				a{
					background-color:#7f0000;
					&:hover{
						color:#7f0000;
						background-color:#fff;
					}
				}

			}
		}
	}
}

@import 'fancybox/fancybox';