@import url("//hello.myfonts.net/count/3c41f5");
  
@font-face {
  font-family: 'GillSansMTPro-Book';
  src: url('../fonts/GillSansMTPro-Book/font.woff2') format('woff2'), url('../fonts/GillSansMTPro-Book/font.woff') format('woff');
}

.GillSansMTPro-Book { 
    font-family: GillSansMTPro-Book;
}
.Playfair-Display{
    font-family: 'Playfair Display', serif;
}
.Lato{ }

@import "sass/variables";
@import "sass/bootstrap";
@import "sass/mixin";
@import "sass/keyframes";

@import "sass/header";
@import "sass/navigation";
@import "sass/footer";
@import "sass/workbuttons";

.absoluteLeftTop{
    position:absolute;
    left:0px;
    top:0px;
}
.fullWindow{
    width:100%;
    height:100vh;
}

.coverBackground{
    background-position:50% 50%;
    background-repeat:no-repeat;
    background-size:cover;
}

html,body{
    width:100%;
    margin:0;
    padding:0;
    height:auto;
    /* font-family:'Montserrat', sans-serif; */
    
    font-weight: $fontNormal;
}

body{
    opacity:0;
    -webkit-transition: opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
    -moz-transition: opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
    -o-transition: opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
    transition: opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
    letter-spacing:2px;
}
body.gill-sans-font-ready{
    font-family: GillSansMTPro-Book, sans-serif;   
    opacity:1; 
}

div.boundary{
    position:relative;
    width:100%;
    z-index:1;
    @include transopacity();
}

body{
    @include transopacity();
    position:relative;
    background-color:#100028;
}
.contentLoading{
    opacity:0;
}

header.generic{
    text-align:center;
    width:100%;
    box-sizing:border-box;
    padding:142px 0 23px 0;
    h1{
        font-family: 'Playfair Display', serif;
        color:#fff;
        font-weight:$fontBlack;
        margin:0;
        font-size:4em;
        @media screen and (min-width: 768px) {
            &{
                font-size:6.8em;
            }
        }
    }
}

.textBlock{
    padding:20px 0;
    box-sizing:border-box;
    width:100%;
    text-align:center;
    color:#fff;
    h1{
        font-weight:$fontBlack;
        font-size:2.2em;
        letter-spacing: 1px;
        margin:0
    }
    h2{
        font-weight:$fontBold;
        font-size:1.6em;
        margin:0 0 40px 0;
    }
    h3{
        font-weight:$fontBold;
        font-size:1.6em;
        margin:0 0 40px 0;
    }
    p{
        font-weight:$fontLight;
        font-size:1.4em;
        margin:0 0 1em 0;
        padding:0 10%;
        a.text-link{
            color:#fff;
            text-decoration:underline;
        }
        @media screen and (min-width: 1024px) {
            &{
                width:1024px;
                margin:0 auto 1em auto;

            }
        }
    }
    ul{
        padding:0 10%;
        li{
            font-weight:$fontLight;
            font-size:1.4em;
            margin:0 0 1em 0;
            text-align:left;
        }
        @media screen and (min-width: 1024px) {
            &{
                width:1024px;
                margin:0 auto 1em auto;
            }
        }
    }
    address{
        font-weight:$fontLight;
        font-size:1.4em;
        margin:0 0 1em 0;
        padding:0 10%;
    }
    &.privacyPolicy{
        text-align:left;
        h2,h3,address,p,ul{
            padding:0 10%;
            width:auto;
            margin:0 auto 1em auto;
        }
    }
}

.inline{
    img{
        width:100%;
        height:auto;
    }
}

.reveal{
    width:100%;
    padding-top:32.8%;
    /* padding-top:420px; */
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment:fixed;
    background-size:cover;
    /* background-size:contain; */
}
.ios{
    .reveal{
        background-attachment:scroll;
    }
}

.r2{
    width:100%;
    padding-top:32.8%;
    /* padding-top:420px; */
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
}

.video{
    display:block;
    position:relative;
    width:90%;
    margin:20px auto;
    overflow:hidden;
    video{
        display:block;
        width:100%;

        .videoFill{
            min-height:100%;
            object-fit:cover;
        }
    }
    a.playButton{
        position:absolute;
        left:0%;
        top:0%;
        width:100%;
        height:100%;
        z-index:50;
        display:block;
        background-size:30%;
        background-position:50% 50%;
        background-repeat:no-repeat;
        background-color:rgba(255,0,0,0);
        @include trans2(1s);
        span{
            overflow:hidden;
            text-indent:9999em;
            display:block;
        }
        img{
            position:absolute;
            left:0;
            top:50%;
            transform: translateY(-50%);
        }
        @media screen and (min-width: 640px) {
            &{
                background-size:inherit;
            }
        }
    }
    @media screen and (min-width: 640px) {
        &{
            width:60%;
        }
    }
    .placeholder{
        position:absolute;
        left:0%;
        top:50%;
        transform: translateY(-50%);
        width:100%;
        height:100%;
        z-index:40;
        @include trans2(1s);
        overflow:hidden;
        img{
            width:100%;
            min-height:100%;
            object-fit:cover;
        }       
    }
    &.started{
        a.playButton{
            top:-200%;
        }
        .placeholder{
            top:-200%;
        }
    }
}

.colourSchemeBlue{
    hr{
        background-color:$colourBlue;
    }
    .textBlock{
        .colourScheme{
            color:$colourBlue;
        }
    }
}
.colourSchemeGreen{
    hr{
        background-color:$colourGreen;
    }
    .textBlock{
        .colourScheme{
            color:$colourGreen;
        }
    }
}
.colourSchemePurple{
    hr{
        background-color:$colourPurple;
    }
    .textBlock{
        .colourScheme{
            color:$colourPurple;
        }
    }
}
.colourSchemeYellow{
    hr{
        background-color:$colourYellow;
    }
    .textBlock{
        .colourScheme{
            color:$colourYellow;
        }
    }
}

@import "sass/home";
@import "sass/home-logo";
@import "sass/home-video";
@import "sass/home-work";
@import "sass/home_text_mediaqueries";
@import "sass/work";
@import "sass/casestudy";
@import "sass/blogindex";
@import "sass/blogpost";
@import "sass/branch";
@import "sass/people";
@import "sass/clients";
@import "sass/contact";
@import "sass/callback";
@import "sass/capabilities";
@import "sass/sitemap";
@import "sass/page404";
