section.frontEndEditor{
	& > header{
		text-align:center;
		&:after{
			content:" ";
			display:block;
			float:none;
			clear:both;
		}
		h2{
			color:#fff;
			display:inline-block;
			margin:0;
		}
		ul{
			list-style-type:none;
			padding-left:0;
			margin:0;
			display:inline-block;
			vertical-align:top;
			li{
				display:inline-block;
				float:left;
				margin:0 2rem 0 0;
				padding:0.5rem 0.5rem;
				background-color:#fff;
				color:#000;
				&.active{
					font-weight:bold;
					background-color:#7f7;
				}
			}
		}
	}
}
.feModule{
	border-color:#7f7f7f;
	border-width:1px;
	border-style:dashed;
	padding:2rem 1rem;
	margin:1rem 1rem;

	header,footer{
		padding:0;
		margin:0;
		p{
			color:#fff;
			margin:0;
			text-align:center;
		}
	}
	header{
		padding:0 0 2rem  0;
	}
	footer{
	}

	& > div{
	}

}

.addModule{
	border-color:#7f7f7f;
	border-width:1px;
	border-style:dashed;
	padding:2rem 1rem;
	margin:1rem 1rem;
	text-align:center;
	p{
		color:#fff;
		margin:0;
		text-align:center;
	}
	ul{
		display:inline-block;margin:0 auto;
		&:after{
			content:" ";
			display:block;
			float:none;
			clear:both;
		}
		li{
			display:inline-block;
			float:left;
			margin:0 2rem 0 0;
			padding:0.5rem 0.5rem;
			background-color:#fff;
			color:#000;
			&.active{
				font-weight:bold;
				background-color:#7f7;
			}
		}
	}
	p{

	}
}

